[2018-07-21 14:54] markoshust opened #8 "Missing docker-compose.yml file"
I'm unable to start anything with `docker-compose` as there is no `docker-compose.yml` file.

[2018-07-21 15:48] shiftedreality commented on #8
This is part of https://github.com/magento/magento-cloud project

Please see instruction how to build your local Docker environment https://devdocs.magento.com/guides/v2.2/cloud/reference/docker-config.html

[2018-07-24 14:48] #8 closed

[2018-07-27 20:03] markoshust commented on #8
@shiftedreality the first step `composer install` fails for me:
[code]

[2018-07-28 19:33] miszyman opened #9 "Cannot read contents from file "/var/www/magento/app/etc/di.xml""
After installation of the latest docker images with with Magento 2.2.2 I am receiving the following error:

`Fatal error: Uncaught Magento\Framework\Exception\FileSystemException: Cannot read contents from file "/var/www/magento/app/etc/di.xml" Warning!file_get_contents(/var/www/magento/app/etc/di.xml): failed to open stream: No such file or directory in /var/www/magento/vendor/magento/framework/F

[2018-07-28 19:39] #9 closed

[2018-08-07 16:41] cdtweb opened #10 "Import db dump from cloud environment (e.g. integration)"
Hi! One of the things stopping my team from utilizing this project is that there isn't an obvious way for us to have the database be created from a dump file.

[code]

It appears that it is creating the database from scratch.. Any help you can provide would really be appreciated. For now, we are stuck using a slower, but full featured Vagrant VM that we built in house.

[2018-08-07 16:46] shiftedreality commented on #10
Hi,

Currently, there is no possibility to import DB. I've created internal ticket MAGECLOUD-2577 and hopefully, we will add this feature in next release.

[2018-08-07 16:55] iamface commented on #10
I have this same issue. Was this Docker environment ready for release? It feels like much needed features are still being worked on and it wasn't ready.

[2018-08-07 19:45] shiftedreality commented on #10
@iamface it's a very new feature, but we just release an update with Varnish, Redis, read-only FS and more user-friendly configs https://devdocs.magento.com/guides/v2.2/cloud/release-notes/cloud-tools.html

[2018-08-15 15:52] thedoughill opened #11 "Running cloud-deploy results in error: CRITICAL: sh: 1: redis-cli: not found"
Any help here?
While testing out the process for ece tools v2002.0.13 per the documentation, everything seems to run fine until the last step. Running  docker-compose run deploy cloud-deploy results in the following error:

$ docker-compose run deploy cloud-deploy
Starting mccdocker_appdata_1 ... done
Starting mccdocker_dbdata_1  ... done
Starting mccdocker_redis_1   ... done
Starting mccdocker_db

[2018-08-15 16:59] thedoughill commented on #11
Running a docker-compose pull seemed to resolve this issue for me

[2018-08-15 16:59] #11 closed

[2018-09-26 02:09] vbuck opened #12 "Import DB instructions not working"
According to recent documentation published in the README, and to reference related issue #10, I tried this import procedure but encountered a failure:

[code]

I see that you pulled this tip from the corresponding Docker image feature:

Now I see that my SQL file has been mounted if I run:

[code]

But something about this fails to run when the container is started. Do you have any thoughts on wh

[2018-09-26 16:11] shiftedreality commented on #12
I had to recreate containers to provision configs and make it work. Not sure about already started containers.

[2018-09-26 20:31] vbuck commented on #12
Ok. I still haven't been able to sort this out. In my case, the DB dump was rather large (6GB), which I selected intentionally to see how it would fare. It was a complete Magento 2 snapshot. And each time I tried to resolve this I would recreate the containers, according to:

Also, I noticed that `ece-tools`, during the deploy phase, via `\Magento\MagentoCloud\Process\Deploy\InstallUpdate\Install\

[2018-09-27 14:02] shiftedreality commented on #12
ECE-Tools won't clean DB if it contains `core_config_data` or `setup_modules` tables (`\Magento\MagentoCloud\Config\State::isInstalled`), upgrade process will be triggered instead.

[2018-09-29 00:18] vbuck commented on #12
Thanks for clarifying. I'm going to close this issue for now. Given my workaround and your report of having no issues with import on your end, I may be doing something wrong. I'll follow up if I ever decide to come back to the standard instructions.

[2018-09-29 00:18] #12 closed

[2018-10-02 14:37] shiftedreality commented on #12
I will be very grateful if you create PR with your instruction, it can be useful as well

[2019-01-15 19:09] brandontamm opened #16 "Official and supported?"
Does Magento support this project officially? If we have enterprise level support - would magento support answer questions and provide guidance to using this cloud version of docker

[2019-01-18 15:44] shiftedreality commented on #16
Closed

[2019-01-18 15:44] #16 closed

[2019-01-18 15:45] shiftedreality commented on #10
https://devdocs.magento.com/guides/v2.3/cloud/docker/docker-development.html#database-container

This feature was added to Docker for Cloud in recent releases. Closed.

[2019-01-18 15:45] #10 closed

[2019-01-18 16:49] brandontamm commented on #16
So to rehash, this project is meant to support users of magento cloud-based version...but we could technically use the container-based approach in local and production with modification and no support?

any plans to eventually roll this or any docker-based projects into supported versions?

I ask because I've been using docker-compose and composer.json to manage magento projects since magento 1.9

[2019-03-11 11:25] azngeek opened #20 "Integration Tests will not run completely as "ps" is missing"
The package procps is missing, so you will not have "ps" available as command. I don't know if anybody uses this for integration tests.

[2019-03-14 17:50] shiftedreality commented on #20
Hello, thank you for your request.

Created task MAGECLOUD-3278 to add this.

[2019-03-27 16:26] oshmyheliuk commented on #20
Looks like `procps` package is installed by default

[code]
And ps command works as well.

@azngeek Do you actually have a problem with running `ps` command or it's just an assumption?

[2019-03-27 16:31] azngeek commented on #20
@oshmyheliuk Which Dockerfile are you using? Can you post the actual configuration?

[2019-03-27 16:53] oshmyheliuk commented on #20
https://github.com/magento/magento-cloud-docker/blob/master/php/7.2-cli/Dockerfile
https://github.com/magento/magento-cloud-docker/blob/master/php/7.2-fpm/Dockerfile

From docker-compose file:
[code]

[2019-03-27 17:12] azngeek commented on #20
You are right. It seems like that it is in the php:7.2-fpm image now.  Pretty strange as i am using the same tag. After rebuilding the images it seems to be available without the need to add the package.

So this problem has been resolved automatically.

[code]

[2019-03-27 17:25] shiftedreality commented on #20
Thanks, @azngeek !

Closed

[2019-03-27 17:25] #20 closed

[2019-05-10 14:56] YPyltiai opened #47 "Add New OOTB Technology Stack Parts"
Internal ID: `MAGECLOUD-3243`

**As** a Magento developer, **I want** local dev solution to be working OOTB without me configuring additional technical stack parts, **so** it's easy and fast to set environment up.

**To Do:**
* Consider adding some Docker-native way to build the stack (PHP + Composer to avoid setting up anything natively besides Docker)
* Capability to isolate dev dependencies nat

[2019-05-10 16:00] YPyltiai opened #48 "Improved Mount Management & Configuration"
Internal ID: `MAGECLOUD-3248`

**As** a Magento developer, **I want** local dev solution to provide more granular controls over mounts and file system, **so** I can easily configure mounts without side effects on performance.

**To Do:**
* Split `/var/www/magento/pub` volume to `/var/www/magento/pub/static` and `/var/www/magento/pub/media`
* Add more control over mounts (ie - possibility to modify

[2019-05-18 03:10] joeshelton-wagento opened #41 "[Cloud Docker Core] DB data should persist in a volume"
For those that don't know the difference between stopping and downing a container, DB data should be stored in a volume. This prevents accidental data loss.

### Preconditions
Development is in progress on a working docker environment with a DB previously imported.

### Steps to reproduce
`docker-compose down`

### Expected result
`docker-compose up` would restore the development environment with

[2019-05-18 03:31] joeshelton-wagento opened #42 "[Cloud Docker Core] Exclude large files from docker-sync"
When first starting `docker-sync`, the period of inactivity experienced by syncing any large files (>1 GB) creates the impression that something may be wrong. Large files like DB dumps and archives are unnecessary to sync. Add the following file types to the default ignore section of `docker-sync.yaml`:

- *.sql
- *.gz
- *.zip
- *.bz2

### Preconditions
First run of `docker-sync`. A DB dump file d

[2019-06-07 15:14] YPyltiai opened #46 "[Cloud Docker Core] Set Varnish as Default Cache"
Internal ID: `MAGECLOUD-3598`

**Background:**
- Currently on Cloud Docker we set up Varnish by default but do not configure it properly
- Since traffic is still going through it, we get a number of unexpected issues

**To Do:**
- Set up Varnish as default cache instead of MySQL for Cloud Docker

[2019-06-07 15:20] YPyltiai opened #45 "[Cloud Docker Core] Secure Connection Works With Warning Regarding Certificate"
Internal ID: `MAGECLOUD-3534`

**Steps to reproduce:**
- Deploy Magento using Cloud Docker
- Open storefront using HTTPS

**Expected behavior:**
- Storefront opens with valid certificate

**Actual behavior:**
- Storefront opens with warning about not recognized self-signed certificate

[2019-06-24 22:38] ethanwayda22 opened #28 "The latest images on Dockerhub do not contain the correct php modules"
### Preconditions

1. Docker version 18.09.2, build 6247962
2. OSX: 10.14.5 (18F132)

### Steps to reproduce

1. docker pull magento/magento-cloud-docker-php:7.2-cli
2. docker run magento/magento-cloud-docker-php:7.2-cli php -m
### Expected result

1. [Screenshots, logs or description]
Starting enhanced syslogd: rsyslogd.
[PHP Modules]
bcmath
Core
ctype
curl
date
dom
fileinfo
filter
ftp
gd
hash
ic

[2019-06-24 23:36] shiftedreality commented on #28
@ethanwayda22 thank you for your submission. We’ve already fixed this issue in https://github.com/magento/magento-cloud-docker/pull/27 and gonna merge this ASAP. Temporary please add PHP_EXTENSIONS variable with extensions from this PR.

[2019-06-26 03:22] shiftedreality commented on #28
Fix merged and deployed. Closed.

[2019-06-26 03:22] #28 closed

[2019-06-26 17:29] ethanwayda22 commented on #28
@shiftedreality I am still not seeing the updated modules in the dockerhub image. I see the fpm was recently updated but not the cli. https://hub.docker.com/r/magento/magento-cloud-docker-php/tags

[2019-06-26 17:31] ethanwayda22 commented on #28
This was last updated 47 hours ago which is around the time of my original post. Thanks!

[2019-06-26 18:30] YPyltiai commented on #28
@ethanwayda22 , it was updated yesterday between 11AM and 2PM Pacific. Did you try to drop your local images? It may be some caching issue.

[2019-07-22 19:56] LucasCalazans opened #32 "Add NodeJS to the PHP image"
### Summary

Add the latest version of `node`, `npm` and `grunt-cli`

### Expected result
1. As a frontend developer, I should have to have the ability to use `grunt-cli` inside a PHP container (like the `fpm`)
2. I need `node`/`npm`/`grunt-cli` inside a `php` container because some tasks use PHP and database connection

### Actual result
1. We don't have the ability to use `node`, `npm` or `grunt

[2019-07-22 20:22] LucasCalazans opened #43 "Give us the ability to have multiple projects with different volumes"
When we're trying to use multiple projects using the docker environment we receive an error because the volume name is fixed in some files.

### Preconditions
1. I've tried with Linux OS (More specifically Fedora 30)

### Steps to reproduce
1. Mount a project using docker environment (Developer mode)
2. After that, try to create another one using the same architecture

### Expected result
1. Both

[2019-07-22 21:02] YPyltiai commented on #32
@shiftedreality , @bbatsche , please review

[2019-07-23 10:59] sorinsugar commented on #32
Wen you build the docker environment using the ece-tools command, you can link relating services, one of these services is node:
`/vendor/bin/ece-tools docker:build --node [6|8|10|11]`

This container will give you the ability to run `node` or `npm` by default etc.

[2019-07-23 11:19] LucasCalazans commented on #32
@sorinsugar yeah, it is true, but some grunt's tasks needs PHP because it will run a static deploy or something like that. So we need node inside a PHP container.

You can take a look at this file:
https://github.com/magento/magento2/blob/2.3-develop/dev/tools/grunt/configs/combo.js#L19

[2019-07-24 15:30] shiftedreality commented on #32
Hello @LucasCalazans,

Thank you for submitting this request. I've created task MAGECLOUD-3953 to add this functionality.

[2019-08-05 16:28] YPyltiai opened #44 "[Cloud Docker Core] Warm-up not Working Properly on Post-deploy Phase in Docker"
Internal ID: `MAGECLOUD-3939`

**We don't currently support warm-up during the post-deploy hook in Docker implementation. This is past of ECE-Tools post-deploy process and has to be fixed.**

**To Do:**
* Fix warm-up process to properly warm-up pages without errors in Cloud Docker implementation

[2019-08-05 20:20] shiftedreality commented on #32
Related PR: https://github.com/magento/magento-cloud-docker/pull/34

[2019-08-06 21:58] ejsexton82 opened #35 "[Cloud Docker Core] TLS Proxy Times Out after 15 Seconds"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Perform any action on HTTPS that takes longer than 15 seconds, such as deleting a customer.

Note: Only occurs on HTTPS pages that have not been cached by Varnish.

### Expected result
1. The website should perform the expected action.

### Actual result
1. The website displays the following error message:

2. And `docker-compose logs t

[2019-08-07 15:33] shiftedreality commented on #35
Hello @ejsexton82,

Thank you for your contribution! Will you be able to create a PR into the repository?

[2019-08-07 18:18] ejsexton82 commented on #35
I'll take a look next week. I'm traveling this week. Thanks!

[2019-08-08 15:15] LucasCalazans commented on #32
Fixed on #34

[2019-08-08 15:15] #32 closed

[2019-08-09 14:28] sorinsugar commented on #35
I've created a pull request for this #37
I've also added the RewriteLocation directive to the config because in my situation it was breaking an external redirect.

[2019-08-13 18:38] sorinsugar commented on #35
I think we need to modify the varnish vcl as well. The TTFB setting for varnish is 1 minute by default, so if you have requests that are longer than 1 minute, you will hit the varnish limit even if TLS is configured with a timeout of 300 seconds for example.

[2019-08-15 14:42] YPyltiai commented on #35
@shiftedreality any thoughts on the above ^? It looks like it's currently not part of the related PR

[2019-08-15 14:47] sorinsugar commented on #35
@YPyltiai I didn't modify the Varnish image because the param can be modified from the environment. Also, should we hardcode that value? If so, I can make a quick change to the Varnish dockerfile as well if needed. just let me know what value should that param take.

[2019-08-15 14:59] shiftedreality commented on #35
Varnish 6.2 doesn't have this env variable, some research needed around 6.2.
But definitely it worse increasing default value on both of them.

[2019-08-15 16:30] ejsexton82 commented on #35
I have also encountered issues with the Varnish timeout, with actions like creating a new account. I don't think the Varnish image has any exposed environment variables to modify. Some should be added, or the Varnish image should be modified, as well.

[2019-08-22 14:15] shiftedreality opened #40 "[Proposal] Move Docker-related functionality to separate package"
### Problem

Docker generation functionality is growing fast and became complicated.

### Proposal

To maintain good code quality and have the possibility of independent releases - we should separate it to a new repository.

#### Repository

The code should be moved to images source code repo - https://github.com/magento/magento-cloud-docker

### Backward compatibility

Backward compatibility must

[2019-08-22 17:14] shiftedreality opened #49 "An Egg & Chicken problem"
Hello, Community

I would like to describe one problem came during developing https://github.com/magento/magento-cloud-docker/pull/31

In nutshell, we want to get closer to the real Cloud environment and introduce `web:web` user instead of `root`.

I will skip technical details, but essentially there will be 2 sets of PHP images:
`php-{cli|fpm}-{version}` and `php-{cli|fpm}-{version}-dev`, where `

[2019-08-22 18:02] 00F100 commented on #49
suggestion: make now MCD (non-dev) with version 1.0.0 and after add (-dev) up version to 2.0.0?

[2019-08-22 18:20] shiftedreality commented on #49
Images are currently not aligned with MCD version, they're building on merge to `master` branch trigger. Seems like it won't help.

[2019-08-23 14:25] joeshelton-wagento commented on #49
I like C. Now that you have MCD in a separate package, you can rev it whenever you want. And I think coupling the images and code will create more compatibility between the two.

[2019-08-23 14:35] YPyltiai commented on #49
Agree with Joe on option C. I told that during grooming but adding it here for visibility too.

[2019-08-23 15:11] shiftedreality commented on #49
Makes sense then. Will proceed with option **C**.

Thank you, guys!

[2019-08-23 15:11] #49 closed, assigned to nobody

[2019-09-18 15:25] aepod opened #55 "[Cloud Docker Core] Mutagen Creates Multiple Stale Sessions"
### Preconditions
1. Have run mutagen.sh
2.  Subsequent runs create multiple mutagen sessions

### Steps to reproduce
1.  Set up docker with mutagen
2.  Run mutagen.sh
3.  Rerun mutagen.sh

### Expected result
1. Session would be recreated

### Actual result
1.  More than one session is created, old ones are stale

[2019-09-19 15:32] YPyltiai commented on #40
This is completed now.

[2019-09-19 15:40] YPyltiai opened #56 "[MFTF Integration] Add Support for Local Mounts to Production Mode in Cloud Docker"
For multi-threaded testing we need possibility to run build/deploy phases once and re-use generated slug in multiple other environments.

* Add option to mount all directories to local FS (use native option for Prod mode)

[2019-09-19 15:45] YPyltiai opened #57 "[Cloud Docker Core] Windows Deployment Bug"
Latest versions of ECE-Tools build magento volumes with an environment variable:
[code]

`${PWD}` is not available on Windows machines and must be replaced by the full path to current directory.

**To Do:**
* Detect OS during docker-compose file generation and put the path to the current directory for Windows machines

[2019-09-19 15:55] YPyltiai opened #60 "[Cloud Docker Core] Add Possibility to Use Custom nginx.conf with Cloud Docker"
**Background:**
* There is a need for users to apply custom Nginx configurations for their Cloud Docker environments
* Currently Cloud Docker uses hard-coded configurations

**To Do:**
* Add possibility to mount custom nginx.conf to Cloud Docker environments

[2019-09-19 15:57] YPyltiai opened #61 "[MFTF Integration] Add Selenium Image to run MFTF on Local Machine with Similar to Cloud Environment"
**To Do:**
* Consider adding Selenium image with pre-configured MFTF to run MFTF tests against Cloud Docker environment locally

[2019-09-19 16:00] YPyltiai opened #62 "Provide an Option to Specify Custom Base URL for Magento Cloud Docker"
**To Do:**
* Add possibility to specify custom base URL for Magento Cloud Docker installation

[2019-09-30 15:24] YPyltiai commented on #57
Resolved in https://github.com/magento/magento-cloud-docker/pull/64

[2019-09-30 15:24] #57 closed, assigned to nobody

[2019-10-01 21:02] mattskr opened #69 "[Cloud Docker Core] Mutagen or docker-sync not needed on Linux"
Docker on Linux does not need 3rd party file syncing utilities as binding a host directory to a container does not suffer from the same performance issues as Windows or macOS

### Preconditions

1. build docker environment on a Linux to generate docker-compose.yml file.

### Steps to reproduce

1. Start and deploy the Docker do not use docker-sync or mutagen
2. Make change to your code, you will n

[2019-10-02 16:04] mattskr commented on #41
I'm not sure if this is an actual issue. We always use docker-compose stop which does preserve the data. Probably better documentation is all that is needed to explain the difference between the two. Having both options (stop and down) are most useful depending on a developers workflow and preference.

[2019-10-02 16:24] mattskr opened #70 "[Cloud Docker Core] Add ionCube Support"
Environments on cloud support the ionCube Loader but developers do not have it locally.

### Preconditions

1. Add ioncube to the list of extensions in .magento.app.yaml file.

### Steps to reproduce
1.  Start or deploy your environment

### Expected result
1. Should see that ioncube is loaded when you run php -v on the fpm container.

### Actual result
1. php -v does not show that ionCube is inst

[2019-10-02 17:30] shiftedreality commented on #69
Hello @mattskr

We've created internal task https://magento2.atlassian.net/browse/MAGECLOUD-4351 to fix this issue.

[2019-10-02 18:29] YPyltiai commented on #70
Should be manageable like other PHP extensions in current implementation.

@arhiopterecs / @bbatsche / @shiftedreality , please review.

[2019-10-02 18:46] shiftedreality commented on #70
It looks like we don't have this supported. Added task https://magento2.atlassian.net/browse/MAGECLOUD-4354

[2019-10-09 17:59] shiftedreality commented on #55
Hello @aepod,

Thank you for reporting this issue.
I've created an internal ticket https://magento2.atlassian.net/browse/MAGECLOUD-4410 to fix it.

[2019-10-10 17:35] YPyltiai commented on #70
Will be resolved as part of https://github.com/magento/magento-cloud-docker/pull/72

[2019-10-10 17:35] #70 closed, assigned to nobody

[2019-10-12 11:54] hanyws opened #74 "PHP Extension bcmath is not Available for PHP 7.3"
**Steps to reproduce:**
* Install ECE-Tools `2002.0.21`
* Run `./vendor/bin/ece-tools docker:build`

**Expected Behavior:**
* Config is created successfully

**Actual Behavior:**
* Error `PHP extension bcmath is not available for PHP version 7.3.` is displayed

[2019-10-14 14:49] YPyltiai commented on #74
@andriyShevtsov , @mveeramneni , please validate

[2019-10-14 18:48] andriyShevtsov commented on #74
In case if I use  ece-tools command `./vendor/bin/ece-tools docker:build  --php=7.3` i got next error:
[code]

Command `vendor/bin/ece-docker  build:compose --php=7.3 `works correct

[2019-10-14 19:05] andriyShevtsov commented on #74
@hanyws please  add to required section:
`"magento/magento-cloud-docker": "1.0.x-dev as 1.0.99",`
and run` vendor/bin/ece-docker build:compose --php=7.3 `instead of ` ./vendor/bin/ece-tools docker:build --php=7.3`

[2019-10-15 14:54] shiftedreality commented on #69
Added in https://github.com/magento/magento-cloud-docker/pull/64 as `sync-engine="native"` option.

[2019-10-15 14:54] #69 closed, assigned to nobody

[2019-10-15 17:52] aepod opened #75 "Linux First docker-compose Architecture"
The docker:build command is problematic, in that it sets up dependencies for the environment in which you are running it for. With Mac or Windows you have very specific requirements for making the containers work properly. Currently when you run docker:build it generates all these requirements and puts them in the docker-compose.yaml file.

Ideally this process would work slightly differently.  In

[2019-10-15 18:05] aepod opened #76 "Document Docker Services/Containers and Request Flow"
### Preconditions
Current Documentation on Docker:  https://devdocs.magento.com/guides/v2.3/cloud/docker/docker-development.html
There is no documentation of the containers/services.

Current List of Services:
- build
- deploy
- cron
- db
- elasticsearch
- redis
- rabbitmq
- tls
- varnish
- web
- fpm

### Steps to reproduce
Docker documentation is missing detailed service definitions. There is no

[2019-10-15 19:21] YPyltiai commented on #76
@meker12 , @hguthrie , please review this request.

[2019-10-15 19:24] shiftedreality commented on #76
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4450

[2019-10-15 19:32] aepod opened #77 "Container Healthchecks"
Docker containers do not have health checks, so you can run commands before the services are ready. Adding a healthcheck allows for automation around the standup of the application, because currently there is a wait period while db and elasticsearch and phpfpm are ready.

https://docs.docker.com/engine/reference/builder/#healthcheck
These can be used in docker-compose: https://docs.docker.com/comp

[2019-10-15 20:06] aepod opened #79 "env.php Crypt Key Issues"
env.php is not automatically setting the crypt key on new docker environments. This is by design, but it should most likely be generating an error message, and possibly even failing to deploy without this set. Alternately generating a fresh key and warning the user would also be a good solution.

### Preconditions
1. Fresh copy of project from git repository checked out
2. app/etc/env.php is not p

[2019-10-16 14:23] shiftedreality commented on #77
Internal issue: https://magento2.atlassian.net/browse/MAGECLOUD-4456

[2019-10-16 14:31] shiftedreality commented on #74
Requested extension is available in `1.0` branch.
Please re-open if closed by mistake.

[2019-10-16 14:31] #74 closed, assigned to andriyShevtsov

[2019-10-16 14:31] shiftedreality commented on #60
Internal issue: https://magento2.atlassian.net/browse/MAGECLOUD-4204

Closed.

[2019-10-16 14:31] #60 closed, assigned to nobody

[2019-10-16 14:32] shiftedreality commented on #44
Fixed in `1.0` branch.
Closed.

[2019-10-16 14:32] #44 closed

[2019-10-16 14:34] shiftedreality commented on #75
Internal issue: https://magento2.atlassian.net/browse/MAGECLOUD-4457

[2019-10-16 16:14] mattskr commented on #75
if you do this I think you need to have people use the ./bin/docker start command which will load up the correct overrides for you and if on Mac/windows also start mutagen.

[2019-10-17 16:59] aepod opened #80 "Open up port 3306 for Database"
This is an easy fix, will include a PR in a bit.

### Preconditions
1. Current docker-compose doesn't expose 3306

### Steps to reproduce
1. Bring up docker
2. Notice the port is not exposed using docker-compose ps

### Expected result
1. It should look like this

### Actual result
1. Not exposed

[2019-10-21 12:47] hanyws commented on #74
Problem 1
    - The requested package magento/magento-cloud-docker could not be found in any version, there may be a typo in the package name.

Potential causes:
 - A typo in the package name
 - The package is not available in a stable-enough version according to your minimum-stability setting
   see <https://getcomposer.org/doc/04-schema.md#minimum-stability> for more details.
 - It's a private p

[2019-10-21 15:31] hanyws opened #82 "adding magento/magento-cloud-docker to composer error"
"magento/magento-cloud-docker": "1.0.x-dev as 1.0.99",

in equired section of composer.json

get error:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package magento/magento-cloud-docker could not be found in any version, there may be a typo in the package name.

Potential causes:
 - A typo in the package name
 - The package is not ava

[2019-10-21 16:13] andriyShevtsov commented on #74
@hanyws Do you have docker in repo section:
[code]

[2019-10-24 08:44] YPyltiai commented on #82
@hanyws , did you add the Git repo into repositories section? Since this package is not yet released, you need to pull from GitHub directly.

This is not a bug, likely some miss-configuration. Please contact us on Slack, we'll help to configure it.

Thanks!

[2019-10-24 08:44] #82 closed, assigned to nobody

[2019-10-25 18:36] shiftedreality commented on #42
Fixed in https://github.com/magento/magento-cloud-docker/pull/84
Closed.

[2019-10-25 18:36] #42 closed

[2019-10-25 18:40] shiftedreality commented on #80
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4544

[2019-10-25 18:43] shiftedreality commented on #62
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4545

[2019-10-25 18:44] shiftedreality commented on #61
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4040

[2019-10-25 18:45] shiftedreality commented on #46
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-3598

[2019-10-31 18:09] shiftedreality commented on #48
Internal ticket: https://magento2.atlassian.net/browse/MAGECLOUD-3248

[2019-10-31 18:10] shiftedreality commented on #61
Fixed in https://github.com/magento/magento-cloud-docker/pull/89

[2019-10-31 18:10] #61 closed, assigned to shiftedreality

[2019-10-31 18:11] shiftedreality commented on #47
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-3243

[2019-10-31 18:12] shiftedreality commented on #35
Fixed in https://github.com/magento/magento-cloud-docker/pull/78

[2019-10-31 18:12] #35 closed

[2019-10-31 18:16] shiftedreality opened #91 "Add contribution guideline"
To be able to effectively process and community regarding the contributions, we should provide documentation CONTRIBUTING.md similar to https://github.com/magento/adobe-stock-integration/blob/develop/.github/CONTRIBUTING.md

[2019-10-31 18:16] shiftedreality commented on #91
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4572

[2019-10-31 18:18] shiftedreality commented on #45
Internal task: https://jira.corp.magento.com/browse/MCLOUD-2579

[2019-10-31 18:22] YPyltiai commented on #41
https://github.com/magento/magento-cloud-docker/pull/92
Let's move discussion to PR above ^. We need to decide if that's the flow to go with or if it just needs some additional documentation

[2019-10-31 18:22] #41 closed

[2019-10-31 18:31] shiftedreality opened #93 "Add possibility to build from sources"
To improve the developer's experience, we should add an option `--from-sources` which will point `docker-compose` to image sources instead of published images. This will give a possibility to properly and easily test changes into images locally.

### Preconditions

1. Cloud Docker is installed
2. Cloud project is cloned

### Expected result

1. Cannot build from sources

### Actual result

1. Opti

[2019-10-31 18:33] shiftedreality commented on #93
Internal issue: https://magento2.atlassian.net/browse/MAGECLOUD-4573

[2019-11-01 12:48] ryanjavens commented on #60
Hey @YPyltiai and @shiftedreality . I noticed this was closed but was hoping to get some more details on this. Was this implemented and is there any documentation around how to use a custom Nginx config? Thank you!

[2019-11-01 14:10] shiftedreality commented on #60
Hello,

We'll update DevDocs with next instruction:

1. Create folder ./.docker/nginx/etc/ and place configs
2. Replace variables like `!UPLOAD_MAX_FILESIZE!;` to appropriate values in file vhost.conf
3. Add lines to volumes section of `web` container:

[code]

Let us know if that helps

[2019-11-01 14:14] shiftedreality opened #94 "Add possibility to preserve existing docker-compose.yml"
### Preconditions

1. Cloud project cloned
2. Cloud Docker compose file generated

### Steps to reproduce

1. Add custom changes to `docker-compose.yml`
2. Run `./vendor/bin/ece-docker build:compose`

### Expected result

1. Custom changes preserved

### Actual result

1. File content fully replaced

[2019-11-01 14:19] shiftedreality commented on #94
Internal ticket: https://magento2.atlassian.net/browse/MAGECLOUD-4580

[2019-11-01 14:38] ryanjavens commented on #60
Thank you so much @shiftedreality !

[2019-11-05 16:51] mattskr commented on #80
@shiftedreality you can assign this one to me.

[2019-11-07 18:21] shiftedreality opened #98 "Testing infrastructure with Docker"
### Introduction

To provide the best quality for Magento Cloud, we should ensure that all delivered features are properly tested from a functional perspective. With the rapidly growing Magento Cloud ecosystem, it's being even more difficult to fulfill this requirement.

### Terms

* ECE-Tools - Main Cloud deployment package (https://github.com/magento/ece-tools)
* Cloud Components - Set of additi

[2019-11-08 00:56] shiftedreality opened #99 "Build container isolation"
`build` container should not access to services like `db`, `redis`, etc to emulate Cloud.

### Preconditions

1. Project is cloned
1. Containers are up

### Steps to reproduce

1. SSH into `build` container `docker-compose run build bash`
2. Curl `db` container `curl db:3306`

### Expected result

1. Connection refused, as DB container not available

### Actual result

1. Container is avaible

[2019-11-08 06:49] drpayyne commented on #80
Hi, I've identified that changing `3306` to `'3306:3306'` at this line https://github.com/magento/ece-tools/blob/2ee01049914502d9aab5213dd399fc50c32645d4/src/Docker/Compose/ProductionCompose.php#L105 exposes the database port. How I proceed on this? Is this the right approach to expose the port? And shall I create a PR in the ece-tools repository as a fix?

Thanks.

[2019-11-08 07:08] mattskr commented on #80
@shiftedreality see above comment

[2019-11-08 14:20] shiftedreality commented on #80
@drpayyne @mattskr I think adding an option like `ece-docker build --expose-db-port 3306` would make it more flexible.

Please let me know your thoughts, the change should be made in this repo, as ECE-Tools does not contain Docker builder anymore.

[2019-11-08 14:23] aepod commented on #80
Adding the options makes a lot of sense, in some cases you may not want to
expose it. (host already has mysql running on port 3306)

On Fri, Nov 8, 2019 at 9:20 AM Oleg Posyniak <notifications@github.com>
wrote:

[2019-11-08 19:13] shiftedreality opened #100 "Add separate Mutagen session for vendor directory"
Cloud Docker includes Mutagen script which creates a session to share files between the local machine and Docker containers. This script creates only one session for the whole scope. `vendor` directory is huge and potentially can cause Mutagen to stuck. To be able to restart it we should have a separate session for this directory.

### Preconditions

1. Cloud project is cloned
2. Cloud Docker is s

[2019-11-08 20:10] mattskr commented on #80
@drpayyne let's add the flag as @shiftedreality suggested.

[2019-11-11 14:25] drpayyne commented on #94
Hi @shiftedreality, out of curiosity, would custom changes override and ignore incoming changes from `ece-docker build:compose`?

[2019-11-12 12:12] aepod commented on #55
1) Add tagged name to Mutagen instance: https://mutagen.io/documentation/introduction/names-labels-identifiers/
2) Enhance mutagen.sh, check for and prompt for removal of old sessions

This is my plan, I am working on this, feel free to put it in progress and assign to me @shiftedreality

[2019-11-12 20:17] shiftedreality commented on #80
Fixed in https://github.com/magento/magento-cloud-docker/pull/101

[2019-11-12 20:17] #80 closed, assigned to mattskr

[2019-11-13 15:09] shiftedreality opened #102 "Platform-agnostic Docker builder"
To expand Cloud Docker presence and align wit platform-agnostic vision of ECE-Tools we should provide a non-Magento-Cloud way to install Docker so developers with own infrastructure could use it.

[2019-11-13 16:40] mattskr commented on #102
The following is a list of files we found are needed from the magento-cloud repo in order to get it work for a non-cloud project for example:

[code]

[2019-11-13 16:42] YPyltiai commented on #102
**Additional grooming notes (11/13/2019):**
- Would be great to have default configurations mapped to Magento versions, so we don't need Cloud-specific files to be in place (no need to pull remote as a pre-requisite)
- Overrides should still be supported but more as an exception than as a common flow. Currently any custom environment can be built only by hand-writing all versions & parameters into

[2019-11-13 16:47] shiftedreality commented on #99
Need to collect the info about the case where developers doing FS changes on the build phase.

[2019-11-13 16:50] mattskr commented on #99
@aepod would taking away any of these services from build container cause issues in your project's workflows?

[2019-11-13 17:34] shiftedreality commented on #94
We could use `docker-compose*.yml` native merging mechanism, so `./bin/magetno-docker` commands should grep all files and merge them on to of default `docker-compose.yml`:

i.e:

[code]

[2019-11-14 20:23] drpayyne commented on #94
Hi @shiftedreality, please assign this to @mattskr (or me) as well. Thanks!

[2019-11-14 20:24] shiftedreality commented on #94
@drpayyne assigned to you. For some reason, Matt is absent in assignee dropdown for this particular issue

[2019-11-14 20:26] drpayyne commented on #94
Thanks anyways!

[2019-11-18 16:43] shiftedreality commented on #91
Closed in https://github.com/magento/magento-cloud-docker/pull/96

[2019-11-18 16:43] #91 closed, assigned to nobody

[2019-11-20 07:54] drpayyne commented on #94
Hi @shiftedreality, please review the PR: https://github.com/magento/devdocs/pull/6035 in regard to this issue. Thanks!

[2019-11-20 16:09] hguthrie commented on #94
Regarding DevDocs, there is a release branch for Docker there.
https://github.com/magento/devdocs/tree/Cloud-Docker-1.0.0

[2019-11-20 16:11] aandolg commented on #62
@magento I am working on it

[2019-11-21 00:18] nmklong opened #104 "Add Multi-website Support into Cloud Docker"
I'm using this docker to add another website to my local, however i keep getting redirected back to http://magento2.docker/

My magento project is currently using Magento 2.2.5

### Steps to reproduce
1. Start the magento cloud docker, set to developer deploy mode following this tutorial: https://devdocs.magento.com/guides/v2.3/cloud/docker/docker-config.html
2. Set up a new website, store, store

[2019-11-21 16:10] YPyltiai commented on #104
Hi @nmklong ,

Thanks for opening this issue. We will review this scenario and will get back to you.

Thanks,
Yevhenii

[2019-11-22 20:32] joeshelton-wagento commented on #43
This is a daily issue for me, as well. I use a solution similar to @LucasCalazans

[2019-11-26 16:49] drpayyne commented on #94
Hi @shiftedreality, I'm under the impression that the `docker-compose.override.yml` file is autopicked up. Any other custom file, for example, `docker-compose-windows.yml` should be manually provided. Since there's a small quirk when supplying `-f` argument to `docker-compose` that, all files starting with base configuration, including the override configuration (otherwise auto picked up) should a

[2019-11-26 16:54] shiftedreality commented on #94
If that's auto-picked (sorry, didn't know that) - I'm good with that

[2019-11-26 16:57] drpayyne commented on #94
Yes, `docker-compose.override.yml` is auto picked. But if we want to specify any other named configuration, we'll have to specify _all_ configurations, including base, override, and custom.

[2019-11-26 18:48] mattskr commented on #99
@shiftedreality what would be the suggested way to deny access to these containers? Should we create a separate user-defined network in Docker-compose and only put the build container on it?

Our developer has also found that there are networking differences between the compose files created in ece-docker versus what is in ece-tools. Ece-tools has no networks explicitly defined, but ece-docker def

[2019-11-26 18:51] shiftedreality commented on #99
Yeah, without defining networks it won't be possible to access containers by the domain name.

ie: Deploy container runs warm-up using `magento2.docker`.

I was able to solve this task by adding new network like `magento-build` and using it for `build` container only

[2019-11-26 18:52] mattskr commented on #99
ok, do you want us to continue working on it or will you just commit your solution?

[2019-11-26 18:52] shiftedreality commented on #99
Please continue, I just experimented with already generated `docker-compose.yml`, but not coding itself

[2019-12-03 19:25] eladius1129 opened #105 "Add Support for Grunt and Similar Tools"
How to configure the docker containers to compile less using grunt?

Edit by @YPyltiai:
It appears that Grunt and similar tools do not work because Cloud Docker doesn't support `dependencies` parsing yet (https://devdocs.magento.com/cloud/project/project-conf-files_magento-app.html#dependencies).

**To Do:**
* **Suggested solution:** Add Yarn, Npm, Node, Grunt to PHP Container
* **Alternatively:**

[2019-12-04 14:39] YPyltiai commented on #105
Hi @eladius1129 ,

Please refer to https://devdocs.magento.com/guides/v2.3/cloud/project/project-conf-files_magento-app.html#hooks section `To compile Sass files using grunt`.  You just need that part where you customize hooks and it should work, since NodeJS is now part of PHP image.

Once you customize hooks, you will need to re-generate your docker configs following the main process outlined he

[2019-12-04 18:12] shiftedreality commented on #99
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-4834

[2019-12-04 18:14] aepod commented on #99
I think this is a great change. It may make it slightly harder to use the
build container for things other than "building" but we can always use the
main fpm container or even add another container instead of using the build
container for running magento commands etc.

It will be a change to the workflow, I think it is a welcome change, given
that this makes it identical to the cloud build process

[2019-12-05 20:58] shiftedreality commented on #99
PR is merged, thank you for your contribution!

[2019-12-05 20:58] #99 closed, assigned to mattskr

[2019-12-09 16:06] eladius1129 commented on #105
Hi  @YPyltiai, I don't know if you understood me, What I  mean was about this topic https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css_debug.html, can you please give me advice about that.

What I am talking about is related to your answer?

Thank's  in advanced

[2019-12-09 18:01] YPyltiai commented on #105
The process I mentioned above is used for compiling using Grunt. Based on our internal testing it doesn't appear to work with Cloud Docker though, so we'll need to review what's wrong.

@andriyShevtsov may add more details.

[2019-12-09 19:50] andriyShevtsov commented on #105
We have internal task for this: MAGECLOUD-4838

[2019-12-09 19:51] andriyShevtsov commented on #105
Here is publicly available copy https://github.com/magento/magento-cloud-docker/issues/105

[2019-12-12 10:13] drpayyne commented on #94
Could this ticket be closed as the documentation for this is accepted in DevDocs?

[2019-12-12 14:43] shiftedreality commented on #94
Thank you,
Closed.

[2019-12-12 14:43] #94 closed, assigned to drpayyne

[2019-12-12 15:55] aepod opened #110 "Varnish disrupts use of xdebug"
Varnish is making it so xdebug is not working correctly.

### Preconditions
1.  Xdebug is on
2.  Varnish is enabled

### Steps to reproduce
1. Xdebug request do not connect, unless you restart varnish. Only first request (uncached) will work

### Expected result
1. Every request with the cookie should work

[2019-12-12 18:30] joeshelton-wagento opened #112 "xDebug enabled and pre-configured in Developer mode"
xDebug is a critical feature of a development environment. But, it use is often intended only for the local development environment. Currently to enable xDebug in the Cloud Docker, a Cloud configuration file needs to be modified. (.magento.app.yaml) In the most common use-case for utilizing xDebux developers will want it enabled locally while developing or troubleshooting an issue, but do not inte

[2019-12-13 08:16] di-ivanov commented on #112
As a follow up to our slack discussion with @joeshelton-wagento .
On a custom set of docker containers, I've implemented two different approaches. both of them work, and probably there are even more:

1. Script that switches xdebug on the fly. Your php container is deployed with all needed configuration for xdebug, only with the first line in xdebug.ini commented
/usr/local/etc/php/conf.d/docker-p

[2019-12-13 12:48] aepod commented on #112
The second method is much better. Xdebug slows down PHP quite a bit. SCD went from 3 minutes to over 6 minutes (more than double) by just enabling xdebug.

Limiting xdebug to the fpm container, and making a second one so that most requests can be not hindered by it is a great idea. Even having the php module enabled is enough, you do not even need to have it configured to see the slowness.

[2019-12-18 17:09] shiftedreality commented on #105
Possible add `dependencies` support (https://devdocs.magento.com/cloud/project/project-conf-files_magento-app.html)

[2019-12-18 17:18] shiftedreality commented on #104
For developer: To start with https://github.com/magento/magento-cloud/blob/master/magento-vars.php file and inject it to `php.ini` configuration file

[2019-12-18 17:26] shiftedreality commented on #100
Blocked by multiple session manage ticket: https://github.com/magento/magento-cloud-docker/issues/55

[2019-12-20 19:52] shiftedreality opened #114 "Make native sync the default sync in Developer mode"
During last grooming, we agreed to have native mode the default one so no additional tools needed. Later SI can choose the tool which they need.

### Preconditions

1. Magento is cloned locally

### Steps to reproduce

1. Generate docker-compose in Developer mode

### Expected result

1. The default mode us `--native`

### Actual result

1. The default mode is `docker-sync`

[2020-01-02 18:23] shiftedreality opened #116 "MCLOUD-5752: Add additional healthchecks"
[MCLOUD-5752](https://jira.corp.magento.com/browse/MCLOUD-5752)
In PR https://github.com/magento/magento-cloud-docker/pull/113 we've added the concept of health checks and ES health checks as basic ones. The health checks should be added for other services as well.

## AC
* Add health checks for next services:
   * PHP-FPM
   * MySQL
   * Redis
   * RabbitMQ

[2020-01-02 21:53] shiftedreality commented on #110
PR was merged, closed.

[2020-01-02 21:54] #110 closed, assigned to aepod

[2020-01-07 22:05] YPyltiai commented on #46
Resolved by #97 97

[2020-01-09 20:45] andriyShevtsov commented on #75
@aepod Please provide status of this isuue

[2020-01-10 14:40] aepod commented on #75
Doing review of this, looking at 1.1.0 in develop branch, alongside what we have done. The --native flag which was already added actually did a lot of what was required for this, but I am double-checking everything. I will have an update early next week.

[2020-01-10 20:29] YPyltiai commented on #105
Internal task: `MAGECLOUD-4921`

[2020-01-14 19:49] YPyltiai commented on #112
Related PR: #122

[2020-01-15 18:18] aepod commented on #45
mkcert could handle this requirement, a command would need to be run from the browser host, for each developer.
https://github.com/FiloSottile/mkcert

The choice for http://magento2.docker/ as a domain limits this quite a bit.

Alternative requirements instead of trying to support the magento2.docker domain would be to  use an FQDN with a wildcard cert that can be included in the configuration eas

[2020-01-15 18:52] YPyltiai opened #126 "Add possibility to read php.ini"
**Internal ID:** `MAGECLOUD-4107`

**We provide default php.ini file which is used on Cloud and should be read on Docker as well.**

**To Do:**
* Read php.ini from the root and apply settings on Docker
* php.ini can be customized and should be read on Docker as well

[2020-01-15 18:55] YPyltiai commented on #48
Resolved in #103

[2020-01-15 18:55] #48 closed

[2020-01-15 18:59] YPyltiai commented on #77
ES health-check added in #113
We now need to add the rest - #116

[2020-01-15 19:00] YPyltiai commented on #93
Discussed with @aepod in Slack - it appears to be simple to do that with current setup but it requires documentation. Thus transferring it from development task to documentation one.

[2020-01-15 19:05] YPyltiai commented on #104
@aepod is starting work on this one.

[2020-01-15 19:17] #77 closed, assigned to shiftedreality

[2020-01-16 15:32] aepod commented on #93
Documentation PR https://github.com/magento/devdocs/pull/6408

[2020-01-16 18:44] aepod opened #128 "PHP Errors in containers upon startup"
Because of the comments added to php ini files there is errors logged.

### Preconditions
1. On current develop branch

### Steps to reproduce
1. Bring up containers
2. check logs using docker-compose logs fpm

### Expected result
1. All offending lines would not show
[code]

### Actual result
[code]

[2020-01-16 21:08] aepod commented on #47
If the application is in a normal checked out state, but without composer or php or any services. It is possible to bring the app up and build the docker containers with the following command:
[code]
1) Assumes ~/.composer/auth.json exists (needed for checking out magento etc)
2) Assumes the project has the cloud docker files that are from the cloud template (.magento.app.yaml etc)
3) Installs usi

[2020-01-17 14:43] aepod opened #131 "MCLOUD-5857: Add Blackfire.io to Cloud Docker"
https://jira.corp.magento.com/browse/MCLOUD-5857:
Blackfire.io is a crucial development tool. This is part of the cloud integration and can be added to the Magento Cloud Docker.

1) Include https://hub.docker.com/r/blackfire/blackfire container if the extension is enabled
2) Build with Blackfire Extension in php
3) Add support for the configuration injecting into containers as needed.

Work has al

[2020-01-20 13:54] sorinsugar opened #132 "Cron container stops after starting on 1.0 images"
The cron container exists after starting.

### Preconditions
1. Use 1.0 docker images (or 1.1)

### Steps to reproduce
1. Run docker-compose up -d

### Expected result
1. Cron container starts and runs in the background

### Actual result
1. Cron container exits after some seconds
[code]
From what I can see, the lines `CRON_LOG=/var/log/cron.log` and  `touch $CRON_LOG` were deleted in the 1.0 tags

[2020-01-21 14:17] meker12 commented on #76
Documentation updates merged into the Docker-1.0.0 integration branch in PR https://github.com/magento/devdocs/pull/6363.

[2020-01-21 14:24] shiftedreality commented on #132
This clearly looks like a mistake.

I've created an internal ticket https://magento2.atlassian.net/browse/MAGECLOUD-5063

Please feel free to create a PR for this issue.

[2020-01-21 20:06] andriyShevtsov commented on #114
Created internal task https://magento2.atlassian.net/browse/MAGECLOUD-5066

[2020-01-21 21:19] shiftedreality commented on #132
Fixed in https://github.com/magento/magento-cloud-docker/pull/133 for 1.0 branch and will be ported into develop

[2020-01-21 21:19] #132 closed, assigned to nobody

[2020-01-21 21:51] andriyShevtsov commented on #114
QA approved

[2020-01-29 14:20] #55 closed, assigned to nobody

[2020-01-29 14:20] #100 closed, assigned to nobody

[2020-01-29 14:20] shiftedreality commented on #55
Fixed in https://github.com/magento/magento-cloud-docker/pull/127

[2020-01-29 14:20] shiftedreality commented on #100
Fixed in https://github.com/magento/magento-cloud-docker/pull/127

[2020-01-29 21:27] andriyShevtsov commented on #128
Created internal task `MAGECLOUD-5142`

[2020-01-29 21:27] #126 closed, assigned to nobody

[2020-01-30 16:48] #128 closed, assigned to andriyShevtsov

[2020-01-31 16:09] shiftedreality opened #139 "Disable cron container by default"
Cron container is enabled by default and it actually uses a lot of memory. In most cases, it's not needed and can be replaced by a manual command run. We should replace `--no-cron` option with `--with-cron`

### Preconditions

1. Docker environment is built with default options

### Steps to reproduce

1. Check the `docker-compose.yml`

### Expected result

1. Cron container is absent

### Actual

[2020-02-03 19:58] shiftedreality commented on #139
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-5181

[2020-02-03 22:31] michaelcasey316 commented on #47
I've created a draft pull request in the magento-cloud template repository here: https://github.com/magento/magento-cloud/pull/444

[2020-02-04 14:24] shiftedreality commented on #102
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-5185

[2020-02-04 14:44] shiftedreality opened #141 "MCLOUD-5860: Add Elasticsearch 7 support"
https://jira.corp.magento.com/browse/MCLOUD-5860:
Magento Cloud Docker should support ElasticSearch 7 which will be added in the future minor versions of Magento.

[2020-02-05 13:28] aepod commented on #43
This can be solved by using the app name from the .magento.app.yaml as a prefix for the magento-sync drive. If done per project, this will alleviate the conflict.

[2020-02-05 14:19] shiftedreality commented on #75
Thanks for your contributions!

Closed.

[2020-02-05 14:19] #75 closed, assigned to mattskr

[2020-02-05 19:18] #139 closed, assigned to nobody

[2020-02-06 14:49] shiftedreality opened #146 "MCLOUD-5797: Compose build is failing if Blackfire configuration present"
[MCLOUD-5797](https://jira.corp.magento.com/browse/MCLOUD-5797):
### Preconditions

1. Cloud project is cloned locally

### Steps to reproduce

1. Have the next config in `.magento.app.yaml`:
[code]
2. Run `build:compose`

### Expected result

1. Docker build is successful

### Actual result

1. Docker build fails with `array to string conversion

![teminal screenshot](https://user-images.githubus

[2020-02-06 15:06] aepod commented on #146
When this is fixed, please ensure blackfire info is still possible to use, this is being added to the docker config in another issue.

[2020-02-08 16:09] joeshelton-wagento opened #148 "MCLOUD-5982: Remove PHP requirement for Docker configuration build"
https://jira.corp.magento.com/browse/MCLOUD-5982:
Remove any PHP requirement that is present for building docker configuration. Many in the community have a concern about this. I think it would improve usability, and also more closely resemble other community Docker configurations. Potentially it would be more fail-safe.

Potential solutions:
Simplify the logic of configuration builds until it is

[2020-02-08 16:49] aepod commented on #148
It is very easy to run the generate in a docker container, which follows
best practices. There is nothing stopping end users from generating all of
the configs they need, it is a bit of a snowflake issue more than anything
else.

docker run -it  -v $(pwd):/app/ -v ~/.composer/:/root/.composer/ magento/magento-cloud-docker-php:7.3-cli-1.1 bash -c "./vendor/bin/ece-docker build:compose --es=7.2 --sy

[2020-02-10 15:17] YPyltiai commented on #148
@michaelcasey316 , assigning to you since you work on it already.

[2020-02-10 15:26] shiftedreality commented on #148
Story: https://magento2.atlassian.net/browse/MAGECLOUD-3243

[2020-02-10 16:30] joeshelton-wagento commented on #148
Those commands are clever, @aepod , but I don't think the majority of the community would intuitively use them. The Docker configuration build is a critical first step at which if people are confused, they will abandon this solution for the other available Magento 2 Docker configurations. I'm in favor simplifying/eliminating the build process. Or, at least adding the commands you mentioned to the

[2020-02-10 16:39] aepod commented on #148
I love the idea of making CLI commands to do this, but was not sure where
to put it.

1) Cloud docker project, not possible it would not be instanced yet.
2) Ece-tools same problem (needs composer)
3) Cloud Template, would work I suppose but didn't seem right.

Let me know where to put it, we can script this out in bash and have this
possible to run the commands :)

On Mon, Feb 10, 2020 at 11:30 A

[2020-02-10 22:43] michaelcasey316 commented on #148
This issue also relates to https://github.com/magento/magento-cloud-docker/issues/47

[2020-02-11 17:04] andriyShevtsov commented on #141
QA approved

[2020-02-12 16:18] #141 closed, assigned to andriyShevtsov

[2020-02-13 20:50] #93 closed, assigned to nobody

[2020-02-13 21:28] shiftedreality opened #151 "Add possibility to add custom ES plugins"
As a developer I want my Docker containers to match Cloud environments as closely as possible.

The Elasticsearch service can contain different plugins that are configured on `services.yaml` file. Cloud docker should read those configurations and install necessary plugins

[2020-02-13 21:28] shiftedreality commented on #151
internal issue: https://magento2.atlassian.net/browse/MAGECLOUD-3814

[2020-02-18 09:20] zhulinwei opened #152 "Can I use these config on Kunbernetes instead of on docker-compose?"
I find [magento2-kubernetes-devbox](https://github.com/magento/magento2-kubernetes-devbox), but I would like to use AWS EKS deploy magento on kubernetes instead of minikube.
Can I use [magento-cloud-docker](https://github.com/magento/magento-cloud-docker) on kubernetes?

[2020-02-18 20:18] YPyltiai commented on #152
@shiftedreality , please confirm.

[2020-02-18 20:30] shiftedreality commented on #152
Hello, it is not supported OOTB.

You can probably use the images for custom K8s setup.
Feel free to add such functionality or provide your vision how would you see this, so we can add a task to the backlog.

[2020-02-19 04:56] zhulinwei commented on #152
Thanks you.

[2020-02-19 04:56] #152 closed, assigned to nobody

[2020-02-19 21:34] shiftedreality opened #154 "[Doc] Adding new version of existing service"
This task should cover the process of adding a new version of the existing service to Cloud Docker.

**AC**
* PR with the topic is delivered to DevDocs

[2020-02-19 21:36] shiftedreality opened #155 "[Doc] Adding new PHP extensions"
This task should cover the process of adding a new PHP extension to PHP images of Cloud Docker.

**AC**
* PR with the topic is delivered to DevDocs

[2020-02-19 21:37] shiftedreality opened #156 "[Doc] Adding new plugin to ES"
This task should cover the process of adding a new plugin to ES service in Cloud Docker.

**AC**
* PR with the topic is delivered to DevDocs

[2020-02-19 21:39] YPyltiai commented on #112
Completed in #122

[2020-02-19 21:39] #112 closed, assigned to nobody

[2020-02-19 21:41] YPyltiai commented on #114
Completed in #124

[2020-02-19 21:41] #114 closed, assigned to nobody

[2020-02-19 21:42] YPyltiai commented on #76
@aepod , I guess we can treat this one as done?

[2020-02-19 21:43] YPyltiai commented on #56
Completed in #138

[2020-02-19 21:43] #56 closed, assigned to nobody

[2020-02-19 21:45] YPyltiai commented on #47
Duplicate of #148

[2020-02-19 21:45] #47 closed

[2020-02-19 21:46] YPyltiai commented on #45
@shiftedreality is this one resolved or still the case?

[2020-02-19 21:50] shiftedreality commented on #45
No, this is still open

[2020-02-19 22:22] aepod commented on #76
Still missing the image build commands, I will get a PR into devdocs for
that tomorrow, sorry for the delay.

On Wed, Feb 19, 2020 at 4:42 PM Yevhenii Pyltiai <notifications@github.com>
wrote:

[2020-02-20 00:26] meker12 commented on #155
@shiftedreality  Is this for adding the pcov extension?

[2020-02-20 00:28] shiftedreality commented on #155
This is a task to describe the abstract process of adding new PHP extension

[2020-02-20 20:47] #102 closed, assigned to mattskr

[2020-02-21 18:31] shiftedreality opened #159 "[Draft] Magento Cloud Docker Technical Vision"
This is an architecture document describing `mid-term` to `long-term` Technical Vision of Cloud Docker project.

# Introduction

Cloud Docker was introduced as a solution to develop and test Magento Cloud locally. It is organically evolved into bigger projects with huge functionality. At some point, Cloud Team realized that it can be a functional and usable alternative as main DevBox for Magento O

[2020-02-24 15:07] shiftedreality opened #160 "Introduce universal configuration file"
To be able to support platform-agnostic Cloud Docker, we must add a universal file that can be included on the project level and be a source for building compose configuration.

# File structure

## General structure

[code]

### Services

Consists of `version`, and `enabled` fields:

[code]

* If `enabled` property is not set, it will be set to `true` by default.
* Available services: `php`, `mys

[2020-02-25 19:55] meker12 commented on #155
We have some info in the docs already that can be expanded:

https://devdocs.magento.com/cloud/docker/docker-containers-service.html#fpm-container

![image](https://user-images.githubusercontent.com/6391769/75282267-61951700-57d6-11ea-8efe-001b55e99ee3.png)

[2020-02-25 21:41] shiftedreality commented on #160
Internal task: https://magento2.atlassian.net/browse/MAGECLOUD-5421

[2020-03-02 17:52] YPyltiai commented on #160
@shiftedreality , wouldn't it be better to do PHP extensions with additional layer like:

[code]
This grouping looks more logical for me personally.

[2020-03-02 17:54] YPyltiai commented on #160
Also, do we do something special about crons? Currently those are configurable. Was also wondering what is the replacement for things we have now like (expose DB port or similar). These are not documented above.

[2020-03-02 18:02] shiftedreality commented on #160
Agree, fixed

Added cron service to example

[2020-03-02 18:09] YPyltiai commented on #160
On crons - can the schedule be modified too or it runs every minute always?

[2020-03-02 21:35] YPyltiai commented on #160
@shiftedreality did you also remove environment variables from this one? I recall seeing them but not sure it was in this ticket

Additional request from @sgomadam :

Some of the things we might need are:
- Ability to define runners
- Ability to specify variables
- Ability to provide other runtime env (php, node, any other dependencies, php.ini file?)

Any configuration that either affects the inf

[2020-03-03 15:18] sgomadam commented on #160
Some of the things we(NGP) might need are
1) Ability to define runners
2) Ability to specify variables
3) Ability to provide other runtime env (php, node, any other dependencies, php.ini file?)

Any configuration that either affects the infrastructure (ex : which lock implementation (zk, file etc) and Magento runtime (magento variables, php injection magic) should be captured by this file.

The as

[2020-03-03 15:26] shiftedreality commented on #160
Hello @sgomadam @YPyltiai,

Added env variables example.

I don't have info about runners and runtime env now, we can add them later

[2020-03-05 20:23] #160 closed, assigned to nobody

[2020-03-12 14:17] munkhulzii opened #169 "Docker compose fails if multiple users for mysql configured"
### Preconditions

1. New cloud project installed locally

### Steps to reproduce

1. Multiple mysql user added in services.yml, as described here https://devdocs.magento.com/cloud/project/project-conf-files_services-mysql.html
[code]

2. Run `./vendor/bin/ece-docker build:compose --mode="developer"`

### Expected result

1. Docker build is successful

### Actual result

1. It fails with error:

[

[2020-03-16 14:35] andriyShevtsov commented on #104
Created internal task MAGECLOUD-5584

[2020-03-23 13:52] shiftedreality commented on #104
This is currently breaking the images: https://github.com/magento/ece-tools/pull/702/checks?check_run_id=523094586

It looks like there is something specific to our FPM containers, re-opening

[2020-03-23 15:45] #46 closed

[2020-03-23 17:22] michaelcasey316 opened #172 "Upgrade Node.js in the PHP container"
Magneto Cloud Docker includes a Node.js installation as part of the CLI containers. This can be seen here: https://github.com/magento/magento-cloud-docker/blob/develop/images/php/cli/Dockerfile#L15

However, the problem is that it installs Node.js 8, which no longer receives security updates according to https://nodejs.org/en/about/releases/

We need to change this to a supported version of Node.j

[2020-03-23 18:57] #43 closed

[2020-03-24 14:23] shiftedreality opened #175 "Universal config composition"
Since the introduction of `.magento.docker.yaml` file, there were added multiple sources to handle different approaches.

Universal file introduction: #160

# Sources overview

The Source is a PHP entity responsible for reading the configuration from different file sources.

* `SourceInterface` - the base interface for any source  (https://github.com/magento/magento-cloud-docker/blob/develop/src/C

[2020-03-24 19:28] nmklong opened #176 "Unable to enable sending email in the docker"
https://jira.corp.magento.com/browse/MCLOUD-5624:
### Steps to reproduce
i added `ENABLE_SENDMAIL=true` in `fpm/environment` of `docker-compose.yml` but it’s still not sending emails.

Was following the direction at the bottom of this page:
https://devdocs.magento.com/cloud/docker/docker-config.html

[2020-03-24 19:34] shiftedreality commented on #176
@nmklong could you try adding this env to `generic` container?

[2020-03-24 19:37] nmklong commented on #176
@shiftedreality thanks for the suggestion, i will try that, after adding do i need to remove all containers and create them all again? as it's being extended by all of them, i'm using mutagen and it takes a while to resync all the files so just wanted to avoid that. Will have to if there's no other way

[2020-03-24 19:38] shiftedreality commented on #176
Yes, changing variables requires `docker-compose down`. You don't need to use `-v` option, so your volumes will remain

[2020-03-25 02:13] eladius1129 opened #177 "MCLOUD-5981: How to Install and Configure Gnupg ?"
https://jira.corp.magento.com/browse/MCLOUD-5981:
I am trying to use **gpg** command with **shell_exec ('command -v gpg')** and the result is **null,** how to configure my docker to be able to use **gpg** command?

[2020-03-25 15:15] shiftedreality opened #178 "Add log aggregation service"
To able to properly navigate through container logs, we may add a log aggregation service to keep them in one place for better usability and debug purposes.

# AC
* Add on of  Elasticsearch, Logstash, and Kibana log aggregation services

[2020-03-25 18:17] shiftedreality commented on #177
Hello, it looks like we currently don't support this extension in our PHP images.

You can add it in a similar way as https://github.com/magento/magento-cloud-docker/pull/136

[2020-03-25 18:49] andriyShevtsov commented on #176
For me it doesn't work

[2020-03-26 01:15] nmklong commented on #176
It's now throwing an "internal error" message to me, removing the flag will be working fine again. I'm unable to trace down what kind of error as Magento logs don't seem log anything related to that, as well as `var/report`

[2020-03-26 14:42] shiftedreality commented on #176
Andrii confirmed that it does not work for him as well.
Created internal ticket: https://jira.corp.magento.com/browse/MCLOUD-5624

[2020-03-26 17:21] NadiyaS commented on #175
@shiftedreality
- what possible list of sources for `build:custom:compose`? It cannot be all provided sources. So, just CloudSource or ConfigSource?
- but, if we want to have separate command `build:custom:compose` which reads configs only from one file, then this file should not be the same as for `build:compose`, as for the second CLI command this file may contain only one config, when for the `

[2020-03-26 17:31] shiftedreality commented on #175
@NadiyaS

1. There will be only one source - `JsonCliSource` or `CustomCliSource`, which can only transfer input string to universal representation
2. There won't be config file sources for this command.

So, it will look like:

`BaseSource -> CloudSource -> JsonSource`

[2020-03-27 23:38] joeshelton-wagento opened #179 "MCLOUD-5671:Add cache clearing to the CLI"
[MCLOUD-5671](https://jira.corp.magento.com/browse/MCLOUD-5671):
As a developer using developer mode, I enjoy convenience methods for repetitive tasks during development. It is often necessary to clear cache from outside the Magento application. I suggest adding methods to the CLI for clearing Redis and Varnish cache without utilizing Magento.

For Redis:

`docker-compose exec redis redis-cli FLUS

[2020-03-28 00:18] joeshelton-wagento opened #180 "MCLOUD-5709: Add DB access to the CLI"
**[MCLOUD-5709:](https://jira.corp.magento.com/browse/MCLOUD-5709)**
As a developer using developer mode, I enjoy convenience methods for repetitive tasks during development. I suggest adding a CLI method for command line access to the DB.

For example:

`docker-compose exec db sh -c 'mysql -u $MYSQL_USER -p$MYSQL_PASSWORD $MYSQL_DATABASE'`

[2020-04-02 13:25] #172 closed, assigned to nobody

[2020-04-02 13:37] shiftedreality opened #185 "Add support for Magento Open Source"
**Is your feature request related to a problem? Please describe.**
Request for CE support

**Describe the solution you'd like**
Cloud Docker works fine with Magento OpenSource

[2020-04-02 13:39] shiftedreality opened #186 "Add support for Magento git installation"
**Is your feature request related to a problem? Please describe.**
Magento git installation should be supported

**Describe the solution you'd like**
* A Magento from https://github.com/magento/magento2 is supported.
* Steps are described in DevDocs

[2020-04-07 15:21] shiftedreality opened #189 "Add support for MySQL"
**Is your feature request related to a problem? Please describe.**
Since Magento supports both databases, we should add support for MySQL alongside with MariaDB

[2020-04-07 15:42] shiftedreality commented on #189
Internal ticket: https://jira.corp.magento.com/browse/MCLOUD-5691

[2020-04-07 18:50] #169 closed, assigned to munkhulzii

[2020-04-08 11:43] aepod opened #191 "MCLOUD-5818: Composer runs out of memory in container"
[MCLOUD-5818](https://jira.corp.magento.com/browse/MCLOUD-5818): Composer can run out of memory when running in the CLI container
[code]
This is a pretty easy fix, CLI container simply needs an environment variable set.
`COMPOSER_MEMORY_LIMIT=-1`

### Preconditions
1.  Magento 2.3.4
2.  Install a few packages, to get to the memory limit

### Steps to reproduce
1. Install Magento using composer
2.

[2020-04-09 19:16] david-kominek commented on #12
I have found that removing the magento-db volume triggers the rebuild of the database from the db backup in .docker/mysql/docker-entrypoint-initdb.d.

A big warning here, this irrevocably deletes all the data in your docker environment, so a database dump on the docker environment would be advised.

[2020-04-10 18:01] shiftedreality opened #193 "MCLOUD-5929: Upgrade PHPUnit to version 8"
**Is your feature request related to a problem? Please describe.**
[MCLOUD-5929](https://jira.corp.magento.com/browse/MCLOUD-5929):
Since PHPUnit 7 is already deprecated and PHPUnit 8 is stable, we should upgrade our version to 8

https://phpunit.de/supported-versions.html

**Describe the solution you'd like**
PHPUnit is upgraded to version 8

[2020-04-10 18:16] shiftedreality opened #194 "MCLOUD-5806: Add PHP 7.4 images"
[MCLOUD-5806](https://jira.corp.magento.com/browse/MCLOUD-5806): **Is your feature request related to a problem? Please describe.**
Since Magento will support PHP 7.4, we should add appropriate images to Cloud Docker

**Describe the solution you'd like**
A PHP 7.4 images added

[2020-04-10 18:16] #180 closed, assigned to nobody

[2020-04-13 19:25] shiftedreality opened #195 "Add support for auto_increment option"
**Is your feature request related to a problem? Please describe.**
Since Magento Cloud Pro has multi-cluster setup, Cloud Docker should be able to provide similar conditions like `auto_increment` option (default is 1)

https://dev.mysql.com/doc/refman/8.0/en/example-auto-increment.html

**Describe the solution you'd like**
* Add functionality and documentation on how to change the MySQL settings i

[2020-04-13 19:27] shiftedreality commented on #195
Internal task: https://jira.corp.magento.com/browse/MCLOUD-5735

[2020-04-14 13:39] aepod opened #196 "Add additional options for PCOV"
https://github.com/krakjoe/pcov Can be used like xdebug, but is a lot more lightweight.

This will allow phpstorm to run code coverage reports very quickly:
https://www.jetbrains.com/phpstorm/whatsnew/#ml-assisted-ranking-for-code-completion

**PCOV was already added in an earlier PR, but it is missing the optional flag, and it also needs to not run in the xdebug container.**
https://github.com/ma

[2020-04-15 13:48] drpayyne commented on #193
Hi @shiftedreality, I have a couple doubts regarding the version conflicts present here

-  Would this have any version conflict with the magento-cloud repository since this is used there?
-  There's a migration of tests currently going on from PHPUnit 7 to 8 in the Magento repository. Is it expected for _those_ tests to be migrated to v8 and the magento-cloud-docker tests to be migrated to v9?

C

[2020-04-16 13:48] #116 closed, assigned to shiftedreality

[2020-04-16 17:14] #179 closed, assigned to nobody

[2020-04-21 14:47] shiftedreality opened #201 "MCLOUD-5855: Add support for ES 6.8 and ES 7.6"
**Is your feature request related to a problem? Please describe.**
[MCLOUD-5855](https://jira.corp.magento.com/browse/MCLOUD-5855): We should add 2 new images to be compatible with the latest versions of Magento

*AC*

* ES 6.8 image added
* ES 7.6 image added

[2020-04-21 18:13] #146 closed, assigned to nobody

[2020-04-22 16:46] YPyltiai commented on #196
@aepod for some reason I recall us adding PCOV already.
See: https://github.com/magento/magento-cloud-docker/pull/136
Didn't that work for you?

[2020-04-23 12:21] aepod commented on #196
I missed that, good to go now. Thanks Yev!

[2020-04-23 12:24] aepod commented on #196
Actually:
1) It does not have the logic to not run this in the xdebug container, if this extension loads there it will cause problems.
2) It is not an "optional" extension, should probably not be forced, like xdebug it should be a choice and not run in places like production.

So this Request is going to get changed, to improve these two things.

[2020-04-24 00:20] #195 closed, assigned to nobody

[2020-04-28 16:33] #191 closed, assigned to nobody

[2020-04-29 05:24] G-Arvind commented on #193
Hi @shiftedreality, I suppose the PHPUnit 9 does not support PHP 7.2, as we are still using the PHP 7.2 images in magento-cloud-docker is it advisable to proceed with PHPUnit 9 or shall we go with PHPUnit 8.
Thanks.

[2020-04-29 13:40] #201 closed, assigned to nobody

[2020-04-29 14:37] shiftedreality commented on #193
Hello, technically we need PHPUnit only to test the code of Cloud Docker, so there should not be a big deal there.

But I agree to update to PHPUnit 8 first

[2020-04-29 15:32] G-Arvind commented on #193
Thanks for the clarifications.

[2020-04-29 19:10] #194 closed, assigned to nobody

[2020-05-06 16:06] #189 closed, assigned to nobody

[2020-05-07 14:40] G-Arvind commented on #151
HI @shiftedreality  ,
For doing this I tried two approaches,

**_Approach 1 Using docker-entrypoint.sh_**
- Parsed the ES plugins from services.yaml
- Saved these values using the repository
- Got these plugins in Produtcionbuilder, created a new docker-entrypoint.sh file say docker-entrypoint-es.sh
- To include this file inside the container, mounted the volume in docker-compose.yaml, something l

[2020-05-13 14:14] #193 closed, assigned to nobody

[2020-05-13 16:56] damienwebdev opened #214 "[BUG]: `magento-sync` improperly defined in `docker-compose.yml` when using `native` sync strategy on Windows w/ WSL2"
### Preconditions
Magento: v2.3.4
Windows 10
WSL2 - Ubuntu 18.04
`"magento/ece-tools": "^2002.1"`

### Steps to reproduce
1. Create an empty Magento Cloud project
2. Install WSL2 on Windows
3. Create auth.json
4. Install the `ece-tools` as a dev dependency
5. Generate the `docker-compose.yml` file
[code]
6. Run the environment:
[code]

### Expected result
1. Given that this is essentially an Ubunt

[2020-05-13 16:58] damienwebdev commented on #214
cc: @shiftedreality

[2020-05-13 18:48] andriyShevtsov commented on #148
Related PR approved and will be targeted to 1.0.2 version

[2020-05-13 19:33] #148 closed, assigned to nobody

[2020-05-14 15:33] #131 closed, assigned to nobody

[2020-05-18 20:14] shiftedreality opened #216 "Add Elasticsearch 7.6"
**Is your feature request related to a problem? Please describe.**
Since Magento 2.4 will support ES 7.6, we should add support to our services stack

**Describe the solution you'd like**
* ES 7.6 is added

[2020-05-18 20:33] andriyShevtsov commented on #216
Internal issue https://jira.corp.magento.com/browse/MCLOUD-6013

[2020-05-19 07:12] VisanthSampath commented on #116
Hi Team,
I have been trying to add a health check to RabbitMQ container. I am using the rabbitmq-diagnostics for checking the health of the container.

But when I try rabbitmq-diagnostics -q node_health_check, the command throws an error in the container stating that the node is not found.
How to proceed further on this. @shiftedreality

[2020-05-20 02:34] joeshelton-wagento opened #217 "Expose all services at well-known ports"
Currently, the web entrypoints are mapped to well-known ports, 80 and 443. But the other services like DB and Redis are exposed on random ports. I propose that all services be exposed on well-known ports to enhance user-friendliness. And additionally add a build option for not exposing any ports that would best accommodate extensibility and customization of ports in an override file.

[2020-05-20 14:26] keithbentrup commented on #217
The ports are already exposed. You would just map them to _your_ desired local ports. Ideally, we don't map them for everyone by default in the generated `docker-compose.yml` file because not everyone has the same use case. If fact, I think we should actually **move** some of the existing default port mappings from the generated `docker-compose.yml` because it's already limiting in a couple ways (

[2020-05-20 15:36] joeshelton-wagento commented on #217
I like the idea of a sample override file. It would help to guide new users along the correct path to customization. Could that be introduced as a separate issue? For the short term, I'd like to resolve the inconsistency in the port mapping scheme using the build tool. We can use `docker:build` to generate a configuration that accommodates the two port schemes that have been proposed. One that is

[2020-05-20 16:18] YPyltiai commented on #217
I guess we all need to meet for a grooming session to discuss this one and general approach to make it work for everyone.

As I see it, we could add some option as `--custom-ports` to skip hard-coding ports and allow for customization. By default we could add the default ports though to cover most use cases (I guess this is most common one if you don't run many projects at once). At the same time

[2020-05-20 16:34] keithbentrup commented on #217
@joeshelton-wagento What I'm proposing can be used by you and your team [right now](https://gist.github.com/keithbentrup/8a29a39681365fcf1290ffd3b20404da). Go to your app dir and just `curl -O https://gist.githubusercontent.com/keithbentrup/8a29a39681365fcf1290ffd3b20404da/raw/ef6ee3cf2d6a6a67baf68a7bc697b97e9dd970ba/docker-compose.override.yml` That's it. `docker-compose` will automatically pick

[2020-05-20 18:17] joeshelton-wagento commented on #217
I'm familiar with how override files work. A method of customization is not at the heart of the issue. My issue is that currently the build tool configures ports inconsistently, with web services exposed at well-known ports 80 and 443. And all other services exposed at random ports. I believe people will benefit from consistency here.

[2020-05-21 19:59] #177 closed, assigned to nobody

[2020-05-22 11:29] G-Arvind commented on #216
Hi @shiftedreality, I belive ES 7.6 images are already added in this PR https://github.com/magento/magento-cloud-docker/pull/205 which addresses this issue https://github.com/magento/magento-cloud-docker/issues/201.

Thanks

[2020-05-22 13:08] shiftedreality commented on #216
Yeap missed that.

Thank you!

[2020-05-22 13:08] #216 closed, assigned to nobody

[2020-05-22 13:58] G-Arvind commented on #151
Hi @shiftedreality, any thoughts on this?
Thanks.

[2020-06-10 15:16] hcmlopes commented on #214
I can verify the bug in WSL2 and my solution based on @damienwebdev recommendations did fix the issue.
I modified the docker-compose.yml as follows
I replace every instance of `- 'magento-sync:/app:nocopy'` with `- '.:/app'`
then I removed `magento-sync:
    external: true` at the bottom of the file and all worked perfectly fine.

I hope this can assist with making ece-tools more compatible with W

[2020-06-12 06:10] peteandmad opened #227 "Can I use this docker with Margento open source edition?"
Hello, is this docker support open source edition for margento?

Thank you

[2020-06-12 19:20] shiftedreality commented on #227
Hello, this is technically possible with the upcoming 1.1 release. The issue is the missing part of documentation where we explain this step-by-step. I will convert this to a documentation update request for 1.1 release.

[2020-06-15 11:17] sorinsugar commented on #176
As a workaround, we've added a mailcatcher image to the compose file and a volume to fpm/cron containers with a config file in which we point sendmail SMART_HOST to mailcatcher. Adding a hostname to fpm greatly improves the time it takes for sendmail to perform the handshake with mailcatcher.

Override compose file:
[code]
Contents of the provider.m4 file is as follows:

The 'mailcatcher' string i

[2020-06-21 14:04] DominicWatts commented on #227
You can. As proof of concept I put together this

https://github.com/DominicWatts/Magento2CloudDocker

Yes all my own images but I wanted to lock everything at a point in time. I've added New relic and tweaked a few bits here and there. The last piece of the puzzle fell into place today as got into a redirect loop when trying to use the web setup which I've resolved now (nginx vhost update).

Take

[2020-06-21 14:04] DominicWatts commented on #185
You can. As proof of concept I put together this

https://github.com/DominicWatts/Magento2CloudDocker

Yes all my own images but I wanted to lock everything at a point in time. I've added New relic and tweaked a few bits here and there. The last piece of the puzzle fell into place today as got into a redirect loop when trying to use the web setup which I've resolved now (nginx vhost update).

Take

[2020-06-23 01:36] carlos-reynosa commented on #105
Some of the containers already have npm installed. I run grunt, including building less, commands and i haven't really had a problem with it:

[code]
[code]

The only issue is I have to pass the grunt watch ports manually since for some reason it doesn't work when i try to add the port mappings within the override file.

[2020-06-25 15:32] magento-engcom-team opened #230 "Add Git/JIRA sync"
Board: https://jira.corp.magento.com/browse/MCLOUD

Projects:
* <https://github.com/magento/ece-tools]
* [https://github.com/magento/magento-cloud-docker>

Test again

[2020-06-25 15:32] magento-engcom-team commented on #230
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-5611

[2020-06-25 15:34] shiftedreality commented on #230
Test

[2020-06-25 15:42] shiftedreality commented on #217
@magento export issue to Jira MCLOUD as Task

[2020-06-28 15:05] ipascual opened #237 "Required parameter "name" is not provided"
### Preconditions
1. Install Magento2 Commerce 2.3.5-p1
2. Install ece-tools 2002.1.1

### Steps to reproduce
1. vendor/bin/ece-docker build:compose --mode="developer" --sync-engine="mutagen" --with-xdebug --expose-db-port=3306

### Expected result
1. docker-composer.yaml created

### Actual result
1.   Required parameter "name" is not provided
![Screen Shot 2020-06-28 at 10 04 45 AM](https://user

[2020-06-28 19:04] itsazzad opened #231 "MCLOUD-6453 : ERROR: elasticsearch: condition: service_healthy"
https://jira.corp.magento.com/browse/MCLOUD-6453:
I am encountering errors while bringing up the project.
[code]
But working with:
[code]

[2020-06-29 16:26] sorinsugar opened #232 "Nginx container uninitialized "with_xdebug" variable logs"
There is an error recurring on the nginx container: uninitialized "with_xdebug" variable

### Preconditions
1. magento-cloud-docker v1.1

### Steps to reproduce
1. Start a production/development environment and check nginx logs

### Expected result

1. No error about uninitialized variables

### Actual result
1. Uninitialized "with_xdebug" variable error in logs

[2020-06-29 16:27] sorinsugar commented on #232
This errors is shown in logs because the vhost.conf has this line:
`set $WITH_XDEBUG !$WITH_XDEBUG!; # Variable: WITH_XDEBUG`
but the docker-entrypoint.sh never replaces the variable.

[2020-06-29 16:32] sorinsugar commented on #232
I've seen the fix reached develop but not the v1.1 images. I'll close the ticket.

[2020-06-29 16:32] #232 closed, assigned to nobody

[2020-07-01 17:28] drpayyne opened #233 "MCLOUD-6430: Xdebug not working on Magento Cloud Docker 1.1"
https://jira.corp.magento.com/browse/MCLOUD-6430:

### Preconditions
-  Linux machine (Ubuntu `18.10`, or equivalent)
-  Latest versions of Magento (`2.3.5`), cloud-docker (`1.1.0`), and ece-tools (`2002.1.1`)
-  Intent to debug using Xdebug

### Steps to reproduce
1. Follow [Configure Xdebug for Docker](https://devdocs.magento.com/cloud/docker/docker-development-debug.html) to set up Xdebug confi

[2020-07-02 03:30] joeshelton-wagento commented on #233
Issue 1 and 2 should be addressed ASAP, perhaps separate from 3.

1 - Docker has to refrain from binding any ports on the host machine for Xdebug purposes. The IDE needs to bind there. The current "9001:9001" port binding in Docker isn't a part of any viable Xdebug configuration that I can think of. This is going to confuse people quite a bit.

3 is a problem, but not a new problem. We've been dea

[2020-07-02 11:15] sorinsugar opened #234 "MCLOUD-6451: Curl call to https from inside containers failing on handshake with v1.1 dockers"
https://jira.corp.magento.com/browse/MCLOUD-6451:
The curl calls from inside the containers trough TLS are failing (OTB magento 2.3.5-p1 and docker images v1.1) is failing at handshake, this causing problems for running mftf over https.

### Steps to reproduce
1. use latest magento2 release
2. Use image versions 1.1
3. Open test container and curl magento trough https

### Expected result
1. Call

[2020-07-04 14:45] shiftedreality opened #235 "MCLOUD-6424: Database directories are not creating automatically"
https://jira.corp.magento.com/browse/MCLOUD-6424:
### Preconditions

1. Cloud Docker 1.0 is deployed
2. Update to Cloud Docker 1.1

### Steps to reproduce

1. Update to Cloud Docker 1.1

### Expected result

1. Update is successful

### Actual result

[code]

[2020-07-04 15:02] shiftedreality commented on #235
Workaround:

[code]

[2020-07-06 09:16] nithincninan opened #236 "MCLOUD-6428: Issue with varnish cache(http urls are not caching) - Magento2 docker setup"
https://jira.corp.magento.com/browse/MCLOUD-6428:
Hi Team,

**Issue Description:**

I have set up the docker on my mac machine( (Magento Commerce version - 2.3.3) and follow the installation steps mentioned in devdocs ( Docker developer mode -  https://devdocs.magento.com/cloud/docker/docker-mode-developer.html ).

When we run the docker:compose command (./vendor/bin/ece-docker build:compose --mod

[2020-07-06 09:26] drpayyne commented on #233
Related issue: https://github.com/magento/devdocs/issues/7400

[2020-07-06 16:32] YPyltiai commented on #237
Hi @ipascual,

I moved the issue to the right repository, since Devbox functionality is developed here.

May you please also confirm version of magento/magento-cloud-docker you use?

Thanks,
Yevhenii

[2020-07-06 16:37] YPyltiai commented on #231
Hi @itsazzad ,

Thanks for posting the bug report.
@aepod , is that the same issue you mentioned in Slack?

Thanks,
Yevhenii

[2020-07-06 16:40] YPyltiai commented on #233
@drpayyne , @carlos-reynosa, would the documentation update solve this short-term? I still think that we need OS-specific override reference files to be provided to fix these kind of issues. This doesn't exist now though, which makes fixing it harder.

[2020-07-06 16:41] YPyltiai commented on #234
Hi @sorinsugar ,

Thanks for submitting the bug report. We will review it and get back to you as soon as we can.

Thanks,
Yevhenii

[2020-07-06 16:45] drpayyne commented on #233
Hi @YPyltiai, a documentation update would solve problem 3, but not 1 and 2 described in the description above. As @joeshelton-wagento mentioned, problems 1 and 2 are separate and would need cloud-docker code bugfixes.

[2020-07-06 16:46] YPyltiai commented on #236
Hi @nithincninan,

May you please confirm version of magento/magento-cloud-docker you used?

Thanks,
Yevhenii

[2020-07-06 18:00] nithincninan commented on #236
Hi @YPyltiai ,

magento/magento-cloud-docker - The version i have used is  "version": "1.1.0"

Thanks!
Nithin Ninan

[2020-07-06 18:58] ipascual commented on #237
Hi @YPyltiai

I got the latest version of ece and Magento2, running:
[code]
I've got:
[code]

[2020-07-06 20:43] buskamuza opened #238 "DevBox: project generation"
As a developer, I want [Magento Cloud DevBox](https://github.com/magento/catalog-storefront/wiki/Magento-Cloud-DevBox-for-Local-Development) and related tools allow me to easily modify and contribute changes to multiple Magento repositories.

Magento Cloud DevBox is not responsible for project creation. But for git-based development scenarios, [ECE Tools](https://github.com/magento/ece-tools) prov

[2020-07-06 20:44] buskamuza opened #239 "Symlink packages instead of copying"
Child of #238

### Problem statement

The [ECE Tools](https://github.com/magento/ece-tools) provide a command `dev:git:update-composer` command is using `"symlink": false"` option for linking local code from repositories. This makes impossible to commit the changes as the files used in the running application are not linked to the original code anymore. For local development, symlinks should be us

[2020-07-06 20:45] buskamuza opened #240 "Symlink non-package files"
Child of #238

### Problem Statement

The [ECE Tools](https://github.com/magento/ece-tools) `dev:git:update-composer` command copies files from repos to Magento project root. #133 covers files that can be used from `vendor` directly (clean packages) by using symlinks. Files that are marshaled (copied) to Magento root by Composer plugin need special coverage. Current logic finds all files in each r

[2020-07-06 20:46] buskamuza opened #241 "Preserve already cloned repositories"
Child of #238

### Problem Statement

The [ECE Tools](https://github.com/magento/ece-tools) `dev:git:update-composer` command adds a script to `composer.json` which:

1. Removes all folders with cloned repos (if present)
2. Clone all the repos from scratch

This is inconvenient for local development, as it leads to huge delays in the workflow every time `composer install/update` command is run, ev

[2020-07-06 20:51] buskamuza commented on #241
"Reset" scenario may be covered by one of (or combination of):

1. Remove folder(s) with repos to be reset before running `composer install/update`
2. Use `git clean` for repository(es) to be reset before running `composer install/update`

[2020-07-06 21:11] carlos-reynosa commented on #233
@YPyltiai  Yes i think so. I provided a documentation recommendation in magento/devdocs#7400 that will resolve number 3.

[2020-07-07 15:28] ipascual commented on #237
Hi @YPyltiai

**I found the issue**, I required to have:
.magento.app.yaml
.magento/routes.yaml
.magento/services.yaml

before running the command:
./vendor/bin/ece-docker build:compose --mode="developer" --sync-engine="mutagen" --with-xdebug --expose-db-port=3306

These files came with cloud configuration, but local development does not have them. It should be detailed under this doc: https://dev

[2020-07-07 15:28] #237 closed, assigned to nobody

[2020-07-07 17:09] sorinsugar commented on #236
@nithincninan the docker-compose created by magento/magento-cloud-docker version 1.1.0 is exposing port 80 on the web container (nginx) not on varnish as on previous compose. The calls on http will never get trough vanish.
@YPyltiai was this by design?

[2020-07-07 17:24] sorinsugar commented on #233
The issue number 3 (host.docker.internal not being available) is been around since we weren't using versioning on containers. On my team, we've overcome this by running this command inside the fpm container:
`echo "$(hostname -i | sed 's/\.[0-9]*$/.1/') host.docker.internal" >> /etc/hosts`
This will fix the issue for linux users without changes to the default compose file. The hostname command is

[2020-07-07 17:35] sorinsugar commented on #233
The above seems to have been caused by the fact that xdebug was added in the list on php runtime extensions in .magento.app.yml. I concur that by default fpm_xdebug doesn't enable xdebug.

[2020-07-08 07:00] nithincninan commented on #236
@sorinsugar Thanks for the information. @YPyltiai Can you please confirm.

[2020-07-08 14:10] alinolandry opened #242 "301-302 permanent redirect problem in my project"
I set up my magento cloud development environment using docker.
I used the documentation procedure and here is the docker file compose generate as an attachment.
All my containers are going well;
Database connections are fine;
the core_config_data table has been modified for the local url;
the site works well on my cloud environments but in local, I have 302 redirects; I don't know what is causing

[2020-07-09 17:33] carlos-reynosa commented on #233
I created a doc ticket for number 3 some time ago and there are other related ticket issues:

https://github.com/magento/devdocs/issues/7400#event-3460479386

[2020-07-09 18:07] carlos-reynosa commented on #233
This is what i did in order to resolve the issues on linux:

* resolve linux host issue by adding your host IP
`sed -i -e "s/XDEBUG_CONFIG=remote_host=host.docker.internal/XDEBUG_CONFIG=remote_host=172.17.0.1/g" .docker/config.env  `

* remove ports by line number
`sed -i '111s/.*//' docker-compose.yml && sed -i '112s/.*//' docker-compose.yml  `

* add xdebug module by line number
`sed -i '116s/so

[2020-07-10 15:36] shiftedreality commented on #235
@magento export issue to Jira project MCLOUD as Task

[2020-07-10 15:39] shiftedreality commented on #235
@magento export issue to Jira project MCLOUD as Task

[2020-07-10 17:05] magento-engcom-team commented on #235
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6424) is successfully created for this issue.

[2020-07-10 17:24] aepod opened #248 "Add .env file parsing for Environment Variables"
Docker provides for Environment Variables, and Magento Cloud uses them as well. Magento Cloud Docker could use .env file to populate environment variables inside the containers. This is in addition to the ability to do this from the docker-compose files, because it would be for secrets for populating the env.php or other things like that.

https://devdocs.magento.com/cloud/env/variables-cloud.html

[2020-07-10 17:39] slavvka commented on #217
@magento export issue to Jira project MCLOUD as Task

[2020-07-10 17:39] magento-engcom-team commented on #217
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6425) is successfully created for this issue.

[2020-07-10 19:26] #230 closed, assigned to shiftedreality

[2020-07-10 19:27] shiftedreality opened #249 "Test Git/JIRA sync"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2020-07-10 19:27] shiftedreality commented on #249
@magento export issue to Jira project MCLOUD as Task

[2020-07-10 19:27] magento-engcom-team commented on #249
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6427) is successfully created for this issue.

[2020-07-10 19:41] #249 closed, assigned to nobody

[2020-07-10 19:49] magento-engcom-team opened #250 "Test Git/JIRA integration"

[2020-07-10 19:49] magento-engcom-team commented on #250
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6426

[2020-07-10 19:56] mveeramneni commented on #236
@magento export issue to Jira project MCLOUD as Bug

[2020-07-10 19:56] magento-engcom-team commented on #236
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6428) is successfully created for this issue.

[2020-07-10 20:23] #250 closed, assigned to nobody

[2020-07-10 20:24] shiftedreality commented on #248
@magento export issue to Jira project MCLOUD as Task

[2020-07-10 20:24] magento-engcom-team commented on #248
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6429) is successfully created for this issue.

[2020-07-10 20:34] shiftedreality commented on #233
@magento export issue to Jira project MCLOUD as Bug

[2020-07-10 20:34] magento-engcom-team commented on #233
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6430) is successfully created for this issue.

[2020-07-13 20:34] mveeramneni commented on #234
@magento export issue to Jira project MCLOUD as Bug

[2020-07-13 20:34] magento-engcom-team commented on #234
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6451) is successfully created for this issue.

[2020-07-13 20:36] mveeramneni commented on #231
@magento export issue to Jira project MCLOUD as Bug

[2020-07-13 20:36] magento-engcom-team commented on #231
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6453) is successfully created for this issue.

[2020-07-13 21:56] YPyltiai commented on #242
Hi @alinolandry,

Would you be able to confirm that base URL used for Docker, the one in hosts file and the one in Magento DB do match across the board? Most commonly redirects are cause by miss-match, when you web server tries to use URL different to one specified in Magento itself.

Thanks,
Yevhenii

[2020-07-14 14:18] shiftedreality commented on #242
@alinolandry is it still actual?

[2020-07-15 21:08] magento-engcom-team opened #252 "[TEST] DO NOT TOUCH"
8999

[2020-07-15 21:08] magento-engcom-team commented on #252
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6479

[2020-07-17 14:55] shiftedreality commented on #238
@magento export issue to Jira project MCLOUD as Task

[2020-07-17 14:55] magento-engcom-team commented on #238
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6492) is successfully created for this issue.

[2020-07-17 14:57] shiftedreality commented on #239
@magento export issue to Jira project MCLOUD as Task

[2020-07-17 14:57] magento-engcom-team commented on #239
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6493) is successfully created for this issue.

[2020-07-17 14:57] shiftedreality commented on #240
@magento export issue to Jira project MCLOUD as Task

[2020-07-17 14:58] magento-engcom-team commented on #240
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6494) is successfully created for this issue.

[2020-07-17 14:58] shiftedreality commented on #241
@magento export issue to Jira project MCLOUD as Task

[2020-07-17 14:58] magento-engcom-team commented on #241
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6495) is successfully created for this issue.

[2020-07-17 17:26] alinolandry commented on #242
Hello @shiftedreality  @YPyltiai ,
Sorry for time, I solve my problem. I also send this problem in the magento slack community.
For here, The problem was the hostname, I changed it, and try to use default hostname(magento2.docker) when you setup your local environement with docker and evereything works well.

Thank you.

[2020-07-17 17:26] #242 closed, assigned to nobody

[2020-07-20 19:06] #235 closed, assigned to nobody

[2020-07-20 19:21] #252 closed, assigned to nobody

[2020-07-22 22:06] lbortolotto-jakala commented on #231
Hi, is there any workaround?
Thanks!

[2020-07-29 13:13] #176 closed, assigned to nobody

[2020-07-30 14:31] magento-engcom-team opened #256 "Warning when running build:custom:compose on PHP 7.4"
Warning occurs when running **ece-docker build:custom:compose** on PHP 7.4.  The docker-compose.yml looked like it was created okay.

 
[code]

[2020-07-30 14:31] magento-engcom-team commented on #256
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6393

[2020-07-30 14:36] magento-engcom-team opened #257 "dh key too small when trying to use magento-cloud-docker-tls"
I had **magento/magento-cloud-docker-tls:latest-1.1* container running for SSL offloading. When I used the "*magento/magento-cloud-docker-php:7.4-fpm-1.1**" container (Debian Buster) to curl https://tls.magento2.docker, I received the error below.

error:141A318A:SSL routines:tls*process_ske*dhe:dh key too small

To work around the issue, I had to remove "**CipherString = DEFAULT@SECLEVEL=2**" fro

[2020-07-30 14:36] magento-engcom-team commented on #257
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6469

[2020-07-30 19:56] shiftedreality commented on #104
JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-5511

[2020-07-31 13:58] #104 closed, assigned to shiftedreality

[2020-07-31 13:59] shiftedreality commented on #104
Corresponding DevDocs PR: https://github.com/magento/devdocs/pull/7646

[2020-07-31 15:33] shiftedreality opened #259 "ps library is missing on newer images"
ps is required for Magento command, and it must present in Docker PHP images

### Steps to reproduce

1. Pull new images
2. Run any PS command inside PHP container

### Expected result

1. No errors

### Actual result

1. ps command is not availble

[2020-07-31 15:38] shiftedreality commented on #259
@magento export issue to Jira project MCLOUD as Bug

[2020-07-31 15:38] magento-engcom-team commented on #259
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6621) is successfully created for this issue.

[2020-07-31 16:33] #259 closed, assigned to nobody

[2020-07-31 18:13] shiftedreality commented on #256
Fixed as part of #246

[2020-07-31 18:13] #256 closed, assigned to nobody

[2020-08-04 15:02] shiftedreality commented on #214
@damienwebdev could you provide a Cloud Docker version and the generated `docker-compose.yml` file?

[2020-08-06 20:22] magento-engcom-team opened #264 "Cloud Docker docs: Re-arrange topics and general structure"
**GUIDELINES**

- All DevDocs changes for Cloud Docker must be targeted into https://github.com/magento/devdocs/tree/MCLOUD-6557
- Add @meker12 and @shiftedreality to reviewers
- Use the pre-defined placeholders in the branch to follow desired structure

**END GUIDELINES**

The topic structure should go smoothly from simpler to more complicated structures.

Proposed structure:
* Introduction
  * I

[2020-08-06 20:22] magento-engcom-team commented on #264
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6612

[2020-08-06 20:23] magento-engcom-team opened #265 "Improve landing page by adding general introduction topic"
**IMPORTANT**

We should add a well-understandable introduction page so Customers can clearly have answers for the next questions:
* What is Cloud Docker?
* Can I use Cloud Docker?
* What are the features of Cloud Docker?
* What are the requirements for Cloud Docker?

**AC**
* Improve landing page according to requirements

[2020-08-06 20:23] magento-engcom-team commented on #265
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6597

[2020-08-06 20:23] magento-engcom-team opened #266 "Investigate the correct landing page for Cloud Docker on DevDocs"
**IMPORTANT**

The Google search engine gives a wrong landing page for Cloud Docker search.

URL: <https://www.google.com/search?q=magento<ins>cloud</ins>docker&cad=h]

 

(x) Actual result
* [https://devdocs.magento.com/cloud/docker/docker-config.html]

(/) Expected result
* [https://devdocs.magento.com/cloud/docker/docker-development.html>

**AC**

* Re-arrange landing page by adding more keywor

[2020-08-06 20:23] magento-engcom-team commented on #266
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6598

[2020-08-06 20:24] magento-engcom-team opened #267 "Add the install.sh script to DevDocs"
**IMPORTANT**

The install.sh script should have a separate page that explains how to use it in a fast manner.

 

**AC**
* The functionality of install.sh is explained on a separate page

[2020-08-06 20:24] magento-engcom-team commented on #267
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6599

[2020-08-06 20:27] magento-engcom-team opened #268 "Add "Installation - Cloud" topic"
**IMPORTANT**

Since there is 2 way to install Cloud Docker, we should provide specific instruction for both cases.

 

**AC**
* Add "Installation - Cloud" topic

[2020-08-06 20:27] magento-engcom-team commented on #268
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6601

[2020-08-06 20:28] magento-engcom-team opened #269 "Add "Troubleshooting" section"
**IMPORTANT**

To support the most asking questions, we should add the "Troubleshooting" section with Q&A
* Add the "Troubleshooting" section with most discussed questions and answers

[2020-08-06 20:28] magento-engcom-team commented on #269
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6613

[2020-08-06 20:36] shiftedreality commented on #227
Hello, there are no technical limitations to use Magento OS with Cloud Docker.

Just replace:

[code]

with

[code]

[2020-08-06 20:36] #227 closed, assigned to nobody

[2020-08-06 20:36] #159 closed, assigned to nobody

[2020-08-06 20:59] magento-engcom-team opened #270 "Add "Installation - On-Prem" topic"
To support On-Prem flow, we should add a specific section which describes what are the differences between Cloud and On-Prem installations

AC
* Add "On-Prem" installation instruction

 

 

[2020-08-06 20:59] magento-engcom-team commented on #270
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6602

[2020-08-06 21:28] shiftedreality commented on #186
Epic: https://github.com/magento/magento-cloud-docker/issues?q=is%3Aissue+is%3Aopen+label%3A%22Component%3A+Core+development+support%22

[2020-08-06 21:28] #186 closed, assigned to oshmyheliuk

[2020-08-06 23:09] #178 closed, assigned to nobody

[2020-08-06 23:09] shiftedreality commented on #185
Duplicate of https://github.com/magento/magento-cloud-docker/issues/227

[2020-08-06 23:09] #185 closed, assigned to nobody

[2020-08-06 23:13] magento-engcom-team opened #271 "Add possibility to disable MailHog"
MailHog is not needed on CICD pipelines and should not consume any resource.

 

**AC**
* Add option to remove MailHog service completely

[2020-08-06 23:13] magento-engcom-team commented on #271
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6660

[2020-08-11 14:42] shiftedreality commented on #151
Hello @G-Arvind ,

Thank you for these approaches. I would suggest trying something like PHP extensions, where they are loaded into env variable and later just enabled in Dockerfile

[2020-08-14 08:06] Axel29 opened #275 "Build container not accessing Redis"
Hello,

I've installed magento-cloud-docker for the first time but can't seem to get it 100% working due to the build container impossibility to connect to Redis.

Due to this issue, I cannot run some commands like `docker-compose run --rm build cloud-build`.

### Preconditions
1. Magento Cloud 2.4.0
2. Redis for sessions and cache storage
3. magento-cloud-docker

### Steps to reproduce
1. Run any

[2020-08-14 13:42] shiftedreality commented on #275
Hello, build container does not have an access to Redis by design. Please use `deploy` container instead

[2020-08-14 13:44] Axel29 commented on #275
Hello @shiftedreality,

Then how can we run the `bin/magento-docker ece-build` or `bin/magento-docker ece-redeploy` command?
It fails with the same error on module:enable --all command...

[2020-08-14 13:47] shiftedreality commented on #275
`ece-build` does not require Redis connection. The Magento Cloud architecture does not have any services during the build phase, so if anything requires it - it should fail on both Cloud and Cloud Docker

[2020-08-14 14:11] Axel29 commented on #275
@shiftedreality if I'm not mistaken, one of the steps from `vendor/magento/ece-tools/scenario/build/generate.xml` is `Magento\MagentoCloud\Step\Build\RefreshModules` which triggers a `php ./bin/magento module:enable --all --ansi --no-interaction` that triggers the error `The command "php ./bin/magento module:enable --all --ansi --no-interaction" failed. Connection to Redis redis:6379 failed after

[2020-08-14 14:16] shiftedreality commented on #275
That's correct, but Magento itself does not require Redis during module enabling. and it's a serious issue if it would. My assumption that you may have some 3rd-party module that is doing this. Have you tried deploying it on Cloud?

[2020-08-14 14:19] Axel29 commented on #275
I've tried to remove the usage of Redis in my app/etc/env.php file and it works without it, or at least now it breaks on the database connection (`SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name o
  r service not known`), so it seems to me that it's not due to a module but simply because bin/magento uses the env.php file, which is configured to use Redis.
But even without

[2020-08-14 14:30] shiftedreality commented on #275
Thanks, that makes more sense then.

It looks like this happens if you run full re-build and re-deploy instead of re-deploy only.

1. You should not have `app/etc/env.php` during the initial installation.
2. You should use `ece-deploy` to redeploy the environment if there are no module changes.

I have some ideas on how to get it fixed, thanks for reporting!

[2020-08-14 14:33] shiftedreality commented on #275
@magento export issue to Jira project MCLOUD as Bug

[2020-08-14 14:33] magento-engcom-team commented on #275
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6732) is successfully created for this issue.

[2020-08-14 14:48] aepod commented on #275
The build container should NOT have app/etc/env.php, this file needs to be
moved aside if you want the container to properly work.

It will work as intended without this file.

On Fri, Aug 14, 2020 at 10:34 AM Magento Community Engineering <
notifications@github.com> wrote:

[2020-08-14 15:21] Axel29 commented on #275
Okay I get it, since it was in the ece-redeploy alias, I thouught I was better to run it too.
Thank you for your help.

[2020-08-14 20:37] shiftedreality commented on #257
Done in https://github.com/magento/magento-cloud-docker/pull/273

[2020-08-14 20:37] #257 closed, assigned to nobody

[2020-08-15 15:10] #271 closed, assigned to nobody

[2020-08-19 13:42] #236 closed, assigned to nobody

[2020-08-20 13:40] #275 closed, assigned to nobody

[2020-08-20 17:01] damienwebdev commented on #214
Fixed by #276

[2020-08-20 17:01] #214 closed, assigned to andriyShevtsov, mveeramneni

[2020-08-27 20:43] shiftedreality commented on #62
Added in https://github.com/magento/magento-cloud-docker/pull/163

[2020-08-27 20:43] #62 closed, assigned to nobody

[2020-08-28 15:28] shiftedreality opened #283 "[Design] Core support functionality"
# Introduction

Cloud Docker is the only officially supported DevBox by Magento. It is Open Source and cross-platform solution that is mainly targeted to Cloud Customers. To be able to provide better support for Magento Community and internal developers, support for core development should be added.

# Terms

* Core - Magento core repositories (https://github.com/magento/magento2, https://github.c

[2020-09-01 15:40] aepod opened #287 "Add ece-docker build:compose command as comment in docker-compose.yml"
After generating the docker-compose.yml it is sometimes hard to remember the exact command that was used.

To solve this we can add a comment on line 2 of the docker-compose.yml that stores the ece-docker build:compose command.

Example:
[code]
This was proposed on the cloud docker slack channel.

[2020-09-01 15:44] aepod commented on #45
Adding the following to nginx config allows for certbot to work:

[code]

Then I was able to run certbot in my local box, I had to have the FQ domain name DNS pointed to my IP.

Then generate the cert
[code]
It will require you to place the file in pub/.well-known/acme-challenge/

In this case, the certs were generated and placed, and all I had to do was mount them into containers.

[code]

Custom

[2020-09-03 19:13] YPyltiai commented on #287
@magento export issue to Jira project MCLOUD as Story

[2020-09-03 19:13] magento-engcom-team commented on #287
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6874) is successfully created for this issue.

[2020-09-03 21:42] shiftedreality commented on #283
Will be reopened once #283 is completed

[2020-09-03 21:43] shiftedreality commented on #241
Will be reopened once #283 is completed.

[2020-09-03 21:43] #241 closed, assigned to nobody

[2020-09-03 21:43] shiftedreality commented on #240
Will be reopened once #283 is completed.

[2020-09-03 21:43] #240 closed, assigned to nobody

[2020-09-03 21:44] shiftedreality commented on #239
Will be reopened once #283 is completed.

[2020-09-03 21:44] #239 closed, assigned to nobody

[2020-09-03 21:44] shiftedreality commented on #238
Will be reopened once #283 is completed.

[2020-09-03 21:44] #238 closed, assigned to nobody

[2020-09-10 15:35] joeshelton-wagento opened #291 "Mailhog container "restart: always""
Prerequisite: My daily routine with a Mac workstation is to logout/login. This causes Docker daemon to restart daily. (The issue may also be caused by the fact that I work with multiple project environments during a typical day.)

The mailhog container is set to `restart: always` . This leads to start/stop behavior inconsistent with the rest of the containers. Most of the time when I start up an e

[2020-09-10 20:47] NadiyaS commented on #291
@magento export issue to Jira project MCLOUD as Bug

[2020-09-10 20:47] magento-engcom-team commented on #291
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-6917) is successfully created for this issue.

[2020-09-14 14:20] #76 closed, assigned to meker12

[2020-09-15 14:39] #291 closed, assigned to nobody

[2020-09-15 14:39] BaDos commented on #291
Will be delivered in this PR https://github.com/magento/magento-cloud-docker/pull/290

[2020-09-15 16:57] shiftedreality opened #292 "Application environment variable does not contain mounts"
### Preconditions

1. Cloud Docker cloned
2. .docker/config.php.dist is present
3. .magento.app.yaml is presnt

### Steps to reproduce

1. Check the content of config.php.dist

### Expected result

1. The file contains MAGENTO_CLOUD_APPLICATION variable with content from `.magento.app.yaml`

### Actual result

1. The file contains MAGNTO_CLOUD_APPLICATION with incomplete content from `.magento.app

[2020-09-21 15:33] oshmyheliuk commented on #233
This issue was fixed https://github.com/magento/magento-cloud-docker/pull/282 and will be delivered into `1.2.0`.

For linux systems was added `--set-docker-host` option which will automatically add the `host.docker.internal` entry to the `/etc/hosts` file for the `fpm_xdebug` container.
Also was removed port exposing `'9001:9001'` for xdebug container

[2020-09-21 15:33] #233 closed, assigned to oshmyheliuk

[2020-09-21 15:35] oshmyheliuk commented on #151
Was done in this pr https://github.com/magento/magento-cloud-docker/pull/279 and will be delivered in `1.2.0`

[2020-09-21 15:35] #151 closed, assigned to oshmyheliuk

[2020-09-21 15:36] oshmyheliuk commented on #156
PR into devdocs https://github.com/magento/devdocs/pull/7898

[2020-09-21 17:30] oshmyheliuk commented on #156
Documentation was added to 1.2.0

[2020-09-21 17:30] #156 closed, assigned to oshmyheliuk

[2020-09-22 16:52] oshmyheliuk commented on #234
Was fixed in this pr https://github.com/magento/magento-cloud-docker/pull/277
Will be released in 1.2.0

[2020-09-22 16:52] #234 closed, assigned to oshmyheliuk

[2020-09-23 02:55] oshmyheliuk commented on #45
Hi @aepod ,
As I understand your proposal requires manual steps to make it works.
Do you have an idea of how we can automate this?

Also, `letsencrypt` works only with hosts which are publicly reachable, could you make it work with a local domain like `magento2.docker`?

I tried to do it locally with `magento2.docker.com` domain but got an error:

[code]

[2020-09-23 19:35] oshmyheliuk commented on #248
Hi @aepod ,
We already have `.env` file: `.docker/config.env` for populating environment variables inside containers.

Isn't it enough for your needs?

[2020-09-23 19:44] NadiyaS commented on #154
Delivered in PR https://github.com/magento/devdocs/pull/7190.

[2020-09-23 19:44] #154 closed, assigned to BaDos

[2020-09-24 03:42] arhiopterecs commented on #231
@itsazzad, @lbortolotto-jakala
Hi!
I tried to reproduce this but unsuccessfully.
[code]
[code]
[code]
Are you still seeing this behavior?
If you are using Linux the following command can help you:
sudo sysctl -w vm.max_map_count=262144;

[2020-09-24 04:14] arhiopterecs commented on #196
@aepod
Hi!
https://github.com/magento/magento-cloud-docker/issues/196#issuecomment-617897362,  `pcov` extension has already been added.
I think that the maximum that can be added here is if you try to enable these two extensions (`xdebug` and `pcov`) at the same time, then show a warning that this can lead to problems
Do you agree with me?

[2020-09-24 04:17] arhiopterecs commented on #155
The internal ticket was created https://jira.corp.magento.com/browse/MCLOUD-6998

[2020-09-24 10:32] aepod commented on #248
It could be, but we should support this: https://docs.docker.com/compose/environment-variables/#the-env-file

which would be at the root directory. The file you are referring to also is "auto-generated" by the compose command, which means it should not really be edited or added to.

[2020-09-24 13:55] oshmyheliuk commented on #248
You can pass custom environment variables into the `build:compose` command by using an option `--env-vars` and they will be saved into `.docker/config.env` so they will be available in containers.
https://devdocs.magento.com/cloud/docker/docker-config.html#set-the-environment-variables.

The `.env` file in the root directory is supported by default in docker but is only used during a pre-processin

[2020-09-24 15:55] aepod commented on #248
Oh that is interesting, I had not considered that. Let me think about it, I
will respond soon.

On Thu, Sep 24, 2020 at 9:55 AM Oleksandr Shmyheliuk <
notifications@github.com> wrote:

[2020-09-25 16:22] #175 closed, assigned to NadiyaS

[2020-09-30 18:21] BaDos commented on #217
Currently we expose the next ports:

- DB:  random port
- Redis: random port
- Web: 80, 443
- MailHog: 1025, 8025

We do not expose ports for the next services:
- ElasticSearch
- php-fpm

[2020-10-13 16:42] carlos-reynosa commented on #45
Not sure if this might help but might i suggest you take a look at how Mark Shust did this for hist project:

* https://github.com/markshust/docker-magento/blob/master/compose/bin/setup-ssl
* https://github.com/markshust/docker-magento/blob/master/compose/bin/setup-ssl-ca

[2020-10-16 22:20] meker12 opened #294 "Update the Readme with information about getting support from Magento Eng comm"
Magento Cloud Docker is a Magento Community Engineering project. Customers who use the package can get support from the Magento Developer Community. Some customers submit Zendesk tickets, and the Support team is not able to help them with the issues.

Updating the Cloud Guide with info about the Magento Developer Community support channels can deflect Docker tickets from ZenDesk. Any tickets that

[2020-11-03 11:34] mercurieus commented on #233
Also experienced that issue on my Linux machine and fix of @carlos-reynosa helps me.
To avoid losing configuration by rewriting `docker-composer.yml` and `.docker/config.env` file (when you'll do next time `ece-docker build:compose` command), I added new configuration to `docker-compose.override.yml`:
[code]
Only thing you have to change - set new value of Xdebug listening port at yours IDE: 9002

[2020-11-09 18:20] #294 closed, assigned to nobody

[2020-11-09 21:29] #155 closed, assigned to arhiopterecs

[2020-11-17 04:27] andriyShevtsov commented on #231
I don't think issue still exist
@itsazzad @lbortolotto-jakala  did you tried with recently released docker?

[2020-11-17 04:28] #231 closed, assigned to arhiopterecs

[2020-12-01 12:44] frankmohaupt opened #295 "Infinite Loop caused by wrong port configuration in nginx config"
If I build the docker environment with the nginx image 1.19 I get an 400 Bad Request HTTP Error with the error Request Header Or Cookie Too Large.
This is caused, because of an infinite loop in one of the nginx config files (/etc/nginx/conf.d/default.conf)
In the server section the server listen at port 80 and has a proxy_pass to port 80. This causes the loop.
To fix this issue
https://github.com/

[2020-12-02 22:47] #295 closed, assigned to nobody

[2020-12-04 03:50] chiranjeevi-cj commented on #292
@magento I am working on this

[2020-12-04 03:51] chiranjeevi-cj commented on #292
@magento I am working on this

[2020-12-04 04:17] chiranjeevi-cj commented on #292
@shiftedreality Is this issue in the wrong repo? Because the changes were made in the ece-tools repo. Can you please verify that? Thanks!

[2020-12-10 07:04] chiranjeevi-cj commented on #292
@shiftedreality Any update?

[2020-12-14 17:19] jayachandraoggy commented on #231
Thanks @arhiopterecs

This command helped me.
- sudo sysctl -w vm.max_map_count=262144;

[2020-12-14 17:31] lbortolotto-jakala commented on #231
yes, we fixed the problem with this commands
[code]

[2020-12-14 17:46] arhiopterecs commented on #231
@lbortolotto-jakala , @jayachandraoggy
Please describe the configuration in which you encountered this error
OS, version
Docker version

[2020-12-14 18:11] jayachandraoggy commented on #231
OS - Ubuntu 20.04 lts
Docker version 19.03.13, build 4484c46d9d

[2020-12-14 18:25] shiftedreality commented on #292
@chiranjeevi-cj this is the correct repo since we moved all logic related to MCD into this repository

[2020-12-15 09:13] chiranjeevi-cj commented on #292
@shiftedreality I can't able to find the temporary fix(https://github.com/magento/ece-tools/blob/40566cb609b2330fdfaafcb9b7f08f05619e2960/src/Config/EnvironmentData.php#L146-L153)

`/**
         * Temporary fix for the case when environment data does not accurately represent file configuration.
         *
         * @url https://github.com/magento/magento-cloud-docker/issues/292
         */

[2020-12-16 19:57] shiftedreality commented on #292
It should be in the latest `developer` branch, the idea was that ECE-Tools can read `.magento.app.yaml`. But actually, it should not be used, since Cloud Docker should be able to properly pass them via environment variables

[2020-12-21 19:12] lenaorobei commented on #235
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MCLOUD-6424.

[2020-12-21 19:13] lenaorobei commented on #235
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MCLOUD-6424.

[2020-12-21 21:43] lenaorobei commented on #235
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MCLOUD-6424.

[2020-12-21 21:44] lenaorobei commented on #235
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7453) is successfully created for this issue.

[2020-12-21 21:52] lenaorobei commented on #235
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7454) is successfully created for this issue.

[2020-12-22 18:18] #98 closed, assigned to BaDos, shiftedreality

[2020-12-22 18:18] shiftedreality commented on #98
Done

[2020-12-23 16:03] magento-engcom-team opened #301 "[TEST] DO NOT TOUCH"
8999

[2020-12-23 16:03] magento-engcom-team commented on #301
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MCLOUD-6479

[2020-12-23 16:23] #301 closed, assigned to nobody

[2020-12-30 15:14] VZeroCool opened #302 "Fatal error while settting up local docker setup"
### Preconditions

1. Magento Commerce 2.4.1 hosted on Magento cloud
2.  Local Environment : Ubuntu

### Steps to reproduce

1. Clone repo using mgc get <project_id> <directory>
2. Modied docker-compose.yml for db changes,
     - MYSQL_ROOT_PASSWORD=cloud
      - MYSQL_DATABASE=cloud
      - MYSQL_USER=cloud
      - MYSQL_PASSWORD=cloud
3. Renamed config.php.dist to config.php under .docker direct

[2021-01-04 18:52] shiftedreality commented on #287
Added in https://github.com/magento/magento-cloud-docker/commit/83bdb0d2dc339c31f6dbd274e04403f05123e0b5

[2021-01-04 18:52] #287 closed, assigned to shiftedreality

[2021-01-04 20:53] #270 closed, assigned to nobody

[2021-01-04 20:53] #269 closed, assigned to nobody

[2021-01-04 20:53] #268 closed, assigned to nobody

[2021-01-04 20:53] #267 closed, assigned to nobody

[2021-01-04 20:54] #266 closed, assigned to nobody

[2021-01-04 20:54] #265 closed, assigned to nobody

[2021-01-04 20:54] #264 closed, assigned to shiftedreality

[2021-01-11 20:32] #45 closed

[2021-01-19 18:06] magento-engcom-team commented on #235
:x: You don't have permission to export issues.

[2021-01-20 14:03] lobre opened #303 "Avoid creating files as root with php cli container"
Hello,

We are currently using this Docker stack alongside Magento Commerce Cloud for a large project (~30 developers).

When using a container created from the php cli image, the default user is root. That means all commands are run as root. This becomes a problem when the application code is mounted as a volume in the container.

Effectively, an operation such as `composer install` would create

[2021-01-20 15:08] shiftedreality commented on #303
Hello @lobre, thank you for the request.

We were not able to make gosu work as expected. If I remember correctly, we had to add gosu to change permissions recursively into https://github.com/magento/magento-cloud-docker/blob/develop/images/php/7.2-fpm/docker-entrypoint.sh which let to drastic degradation

[2021-01-20 16:51] magento-engcom-team commented on #235
:x: Cannot export the issue. GitHub repo magento/magento-cloud-docker is not supported in JIRA project PWA and type Task.

[2021-01-21 17:09] lobre commented on #303
I am not sure to understand the relationship between gosu and the fact that you need to change permissions recursively.

Gosu has apparently being removed in https://github.com/magento/magento-cloud-docker/commit/08e8f09537a64030ad14fe075b858e1b603cc451.

The idea is not to alter permissions here, but simply to launch the main cmd as `www`. To me, it would be common sense to expect that `www` in t

[2021-01-21 20:09] shiftedreality commented on #303
Yes, it definitely makes sense to run it from the user.

But it may (need to check) lead to issues when the FPM container creates files as root and then CLI containers cannot read them with user permissions. We were not able to make it work with gosu first time, but I think we can try it again (leaving FPM running as root)

[2021-01-25 08:32] lobre commented on #303
Sounds like a good plan. I will give that a go, make a bunch of tests and try to submit a PR if conclusive.

[2021-02-01 04:03] sivamind opened #305 "elasticsearch max_map_count issue"
elasticsearch_1  | ERROR: [1] bootstrap checks failed
elasticsearch_1  | [1]: max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]
elasticsearch_1  | [2021-02-01T03:54:53,577][INFO ][o.e.n.Node               ] [XE6UvKt] stopping ...
elasticsearch_1  | [2021-02-01T03:54:53,702][INFO ][o.e.n.Node               ] [XE6UvKt] stopped
elasticsearch_1  | [2021-02-01T

[2021-02-01 04:14] sivamind commented on #305
magento/magento-cloud-docker-elasticsearch:6.5-1.2.1

[2021-02-01 12:49] aepod commented on #305
https://devdocs.magento.com/cloud/docker/docker-containers-service.html#troubleshooting

This is a known issue in Windows, it is not a Magento Cloud Docker bug.

[2021-02-02 09:31] mzink commented on #302
We ran in the same issue while following the [Launch Docker](https://devdocs.magento.com/cloud/docker/docker-mode-developer.html) instructions.
For us it worked to run this manually:
`docker-compose run deploy bin/magento setup:upgrade`

[2021-02-02 19:56] sivamind opened #306 "ece-tools file could not open in windows 10"
C:\newdock>docker-compose run --rm deploy cloud-deploy
Creating newdock_deploy_run ... done                                                                                                                                    Running "deploy" hook.
Could not open input file: ./vendor/bin/ece-tools
returned non-zero exit status 1

even i tried composer require magento/ece-tools. but still same issue.

[2021-02-02 20:10] #305 closed, assigned to nobody

[2021-02-03 05:02] sivamind commented on #306
if i'm using  ./vendor/bin/ece-docker build:compose --mode="developer" --sync-engine="mutagen" its not working.I installed mutagen as well.
if i use with out any sync tool its working

./vendor/bin/ece-docker build:compose --mode="developer"

[2021-02-03 10:18] swnsma commented on #128
Any updates?

[2021-02-03 12:39] aepod commented on #128
This was merged and released in 1.1, should not be happening if you are up to date.

[2021-02-04 02:31] sivamind opened #307 "504 Gateway Time-out"
below is my yaml file and host system is windows 10
version: '2.1'
services:
  db:
    hostname: db.magento2.docker
    image: 'mariadb:10.2'
    environment:
      - MYSQL_ROOT_PASSWORD=magento2
      - MYSQL_DATABASE=magento2
      - MYSQL_USER=magento2
      - MYSQL_PASSWORD=magento2
    ports:
      - '3306'
    volumes:
      - '.:/app:delegated'
      - 'kp_magento_marketplace-magento-db:/va

[2021-02-05 04:43] sivamind commented on #306
Please consider Windows OS as well, i think there is a issue with symlinks in windows.
 instead of ./vendor/bin/ece-tools how to call ./vendor/magento/ece-tools/bin/ece-tools?

[2021-02-05 07:33] sivamind commented on #306
$ mutagen sync list
-------------------------------------------------------------------------------
Identifier: sync_8nwXc820VgxIvIOBwxipgmX72tQueXzCXnM0LJgPeri
Labels:
        magento-docker-vendor: <empty>
Alpha:
        URL: C:\xyz\kim\vendor
        Connection state: Connected
Beta:
        URL: docker://12c2cb65dc0384f234d1d9be6f9e9474a070422304a14ed76a9a7ac09ba31e3b/app/vendor

[2021-02-05 12:42] aepod commented on #306
Magento Cloud Docker does not work well with Windows, except in the context of WSL2. If you install WSL2, enable hyper-v and install ubuntu as a WSL vm, and Docker Desktop in windows. You can then use ubuntu vm to manage the docker compose stuff, have native linux there so you do not even need a sync engine.
This works very well, and really is the only performant and easy way to handle this in win

[2021-02-05 16:37] aepod commented on #302
Same problem here when installing. This seems like it actually a core bug, not a Cloud Docker bug.

[2021-02-06 12:41] sivamind commented on #306
@aepod wsl2 and ubuntu installed ,Now its working fine.Thank you

[2021-02-06 12:41] #306 closed, assigned to nobody

[2021-02-08 08:46] VZeroCool commented on #302
Kudos to @mzink it worked for me for fresh setup, In existing project, I mean one which is has third-party modules and live project, While executing CLI (docker-compose run --rm deploy cloud-deploy) Its throwing weird error.

@shiftedreality Any idea !?

![image](https://user-images.githubusercontent.com/36662131/107196012-17716980-6a18-11eb-979a-de88235e1005.png)

[2021-02-10 06:30] drpayyne commented on #302
Same problem here and for all my colleagues. Running the above worked.

[2021-02-10 16:50] sivamind opened #308 "magento 2.4.2 supports composer 2 version"
How to use composer 2 instead of composer 1 version?

[2021-02-10 16:56] sivamind commented on #308
also can u add varnish 6.4 version

[2021-02-10 22:13] damienwebdev opened #309 "[FEAT]: Static Version-Controllable Configuration to mitigate long, tedious commands."
**Is your feature request related to a problem? Please describe.**
The current setup of constantly requiring `build:compose` on every release (or even within the life-cycle of a release) is painful.

I often find myself perusing docs that I don't want to peruse because I don't remember some  `--with-entrypoint`  -like command.

Right now, I have to frequently explain flags to devs of various senio

[2021-02-11 14:12] shiftedreality opened #310 "List of short-term improvements"
The list of improvements, requested by Community Engineering:

- [x] Merge the documentation (including `.magento.env.yaml` universal confgiruration) updates: https://github.com/magento/devdocs/pull/6975 (@shiftedreality, @meker12)
- [ ] Include a bare minimum of different `docker-compose.yml` files for different platforms and use-cases
- [ ] Include the minimal installation instruction into `READ

[2021-02-11 15:18] YPyltiai commented on #308
@shiftedreality , please see this request.

[2021-02-11 15:20] YPyltiai commented on #307
@oshmyheliuk , @NadiyaS , please review.

[2021-02-11 15:23] YPyltiai commented on #309
Thanks for creating an issue @damienwebdev ! As per Slack discussion - looks like this feature exists but lacks documentation. We will merge documentation and see if anything else is missing.

[2021-02-11 15:33] oshmyheliuk commented on #307
@sivamind Hi,
Do you still face this error?
Could you please paste the content of your `docker-compose.yaml` with code markdown format:
\`\`\`
code
\`\`\`

[2021-02-11 15:34] shiftedreality commented on #309
Assigned to me for documentation release

[2021-02-11 15:34] oshmyheliuk commented on #248
@aepod Hi,
I'm closing this issue for now.
Please feel free to reopen if you will have any suggestions.

[2021-02-11 15:34] #248 closed, assigned to oshmyheliuk

[2021-02-16 09:25] sorinsugar commented on #307
@oshmyheliuk We've received this 504 error for a couple of times as well. One thing that I've seen is the fact the the reverse proxy settings in tls have no timeout set, thus nginx uses the default value. Maybe it's worth tweaking this.

Also, for some reason the timeouts on different containers are so "different" in values
- varnish has 300 seconds
- tls proxy has default (I think it's 60 seconds

[2021-02-22 17:10] #105 closed, assigned to oshmyheliuk

[2021-02-22 23:29] qaniel commented on #302
Look at the warnings
![Screen Shot 2021-02-22 at 17 26 49](https://user-images.githubusercontent.com/26260746/108783586-5a146500-7533-11eb-80f7-33cc247971fe.png)

Create those directories and the issue goes awaaaaay 👻

[2021-02-25 17:54] shiftedreality commented on #309
PR is being processed https://github.com/magento/devdocs/pull/8728

[2021-03-01 12:06] rajubytes opened #311 "In product listing page sort price by ascending not working"
**Preconditions**
In product listing page price sorting not working with ascending order

**Steps to reproduce**
Step1. Add 10 to 12 simple product and add 5 to 7 configurable product (add some simple product & configurable product with zero price).
Step2. Goto storefront and navigate to product listing page.
Step3. Select "price" from sort by dropdown (it's redirect current page with asc sorted o

[2021-03-02 18:06] shiftedreality commented on #309
PR was delivered documentation is avaialble: https://devdocs.magento.com/cloud/docker/docker-config-sources.html#unified-configuration

Thank you for bringing this up.

[2021-03-02 18:06] #309 closed, assigned to shiftedreality

[2021-03-03 16:27] birdman002 commented on #307
This is what happened to me.
Verify all your caches are turned on.

[2021-03-03 16:35] aepod opened #312 "PHP Opcache is overcaching files in developer mode"
### Preconditions
1.  Developer mode, with native filesync
2. WSL2 enabled docker (may affect macs too)
3. Default php.ini, no changes to opcache settings

### Steps to reproduce
1. Bring up docker
2.  Change phtml template
3. Clear magento caches
4. changes do not reflect

### Expected result
1. Changes get reflected.

### Actual result
1. Changes are not shown.
Also of note, you can restart cont

[2021-03-10 04:51] danico90 commented on #231
I solved this temporarily on Mac by increasing the memory Docker uses from 2GB to 4GB.

[2021-03-11 19:22] mjdurham opened #313 "init-docker.sh not being released as an asset in tagged releases"
### Preconditions

1. Trying to follow with the magento docs https://devdocs.magento.com/cloud/docker/docker-installation.html

### Steps to reproduce

1. Follow the last step at the bottom of [docker installation docs](https://devdocs.magento.com/cloud/docker/docker-nstallation.html)  This tells you to run:

 `curl -sL https://github.com/magento/magento-cloud-docker/releases/download/1.2.0/init-d

[2021-03-11 19:24] shiftedreality commented on #313
Thank you for reporting this.

Assigning to @oshmyheliuk to release a binary file

[2021-03-11 19:40] oshmyheliuk commented on #313
Created ticket for required changes

[2021-03-12 17:02] oshmyheliuk commented on #313
Done, please check.

[2021-03-12 17:02] #313 closed, assigned to oshmyheliuk

[2021-04-06 21:26] maurisource opened #315 "Docker image 2.3.6-p1 error affecting marketplace module testig"
###      **- Summary of the issue**

Module submission on the Marketplace. There seems to be an error with that specific image.

###      **- Information on your environment,**

This environment is failing:

`php_version":"7.3","magento_platform":"M2","magento_edition":"ce","magento_version":"2.3.6-p1","tool":"varnish","vendor":"maurisource","extension":"lightspeed","version":"1.3.62","platform":"

[2021-04-07 07:34] sloanfardele commented on #315
Got the same issue here !

With environnement `{"php_version":"7.3","magento_platform":"M2","magento_edition":"ce","magento_version":"2.3.6-p1","tool":"varnish","vendor":"laposte","extension":"magento2-colissimo-module","version":"1.1.0","platform":"m2","magento_cloud_docker":"1.2.1"` and `"php_version":"7.4","magento_platform":"M2","magento_edition":"ce","magento_version":"2.4.2","tool":"varnish"

[2021-04-08 13:44] shiftedreality commented on #315
Hello @maurisource,

Could you provide steps to reproduce? Unfortunately, we do not have an access to submissions

[2021-04-11 17:17] lwmatysik commented on #307
I ran into this also. After deploying (2.3.5-p2) the caches were setup like this:
[code]

[2021-04-12 19:19] maurisource commented on #315
Hello @shiftedreality

In terms of reproducing the error, I think it depends on the module being submitted to the Marketplace.
For now, as @sloanfardele also is complaining. Module `maurisource/lightspeed` and `laposte/magento2-colissimo-module` are being affected

Actions I have performed: Selected those Magento versions for CE (2.3 and 2.4)
As you can see, the CE Docker image pertaining those  M

[2021-04-13 10:43] sloanfardele commented on #315
[report.zip](https://github.com/magento/magento-cloud-docker/files/6303086/report.zip)

Here is the report.json for `laposte/magento2-colissimo-module`. Our extension is not compatible with Magento EE, so I can only tell that I got the same errors on Magento CE

[2021-04-13 14:05] shiftedreality commented on #315
Assigning to @slitviachenko for investigation

[2021-04-16 06:06] rajubytes opened #316 "Paypal express was not working with cancel discount code in cart page."
**Preconditions**
Paypal express was not working with cancel discount code in cart page.

**Steps to reproduce**
Step 1. Set UK as merchant country
Step 2. Configure Paypal express with sandbox account.
Step 3. Added to cart 1 product with without login customer.
Step 4. Apply discount code from cart page.
Step 5. Remove discount code
Step 6. Click on Paypal express button.

**Expected result**
1.

[2021-04-20 14:12] YPyltiai commented on #316
Hi @rajubytes,

Did you identify this being specific to Cloud Docker? It looks like a general Magento problem, which is not related to the Docker environments. It may need to be moved to https://github.com/magento/magento2 repository.

Thanks,
Yevhenii

[2021-04-20 14:14] YPyltiai commented on #312
@aepod , wasn't it fixed with latest version? It looks very familiar.

[2021-04-20 14:15] YPyltiai commented on #311
Hi @rajubytes,

Did you identify this being specific to Cloud Docker? It looks like a general Magento problem, which is not related to the Docker environments. It may need to be moved to https://github.com/magento/magento2 repository.

Thanks,
Yevhenii

[2021-04-20 14:16] #316 closed, assigned to nobody

[2021-04-20 14:16] #311 closed, assigned to nobody

[2021-04-22 17:50] shiftedreality commented on #312
Fixed in latest version

[2021-04-22 17:50] #312 closed, assigned to aepod

[2021-04-22 18:09] shiftedreality commented on #308
Composer 2 added in the latest release.
Doc updates PR: https://github.com/magento/devdocs/pull/8893

Please create a separate issue for Varnish update request

[2021-04-22 18:09] #308 closed, assigned to nobody

[2021-04-27 21:44] slitviachenko commented on #315
@maurisource , @sloanfardele , as I mentioned in https://magentocommeng.slack.com/archives/C7SL5CGDN/p1617935586035800 , I was able to narrow down the root cause, both **rr7l1swgkx** and **0p8jeuucuj** have cli commands, after disabling `LaPoste\Colissimo\Console\Command\PurgeOldReturnLabels` and `LaPoste\Colissimo\Console\Command\PurgeLabelFolder`, and `Maurisource\Lightspeed\Console\Command\LsSy

[2021-04-27 22:20] slitviachenko commented on #315
^^^ I believe Magento proxies could help to resolve this issue.
https://devdocs.magento.com/guides/v2.4/extension-dev-guide/proxies.html

[2021-05-05 03:52] drpayyne opened #318 "Developer mode workflow"
### Preconditions

1. Use Magento Cloud Docker in developer mode

### Steps to reproduce

1. Follow steps in https://devdocs.magento.com/cloud/docker/docker-mode-developer.html to use cloud-docker in dev mode

### Expected result

1. Developers shouldn't have to run `docker-compose run --rm deploy magento-command deploy:mode:set developer` every time after cloud-deploy when docker-compose file was

[2021-05-05 04:02] drpayyne commented on #318
Yes, this isn't as simple as fixing the scenario to use the MAGE_MODE flag since this has implications on processes like `setup:di:compile` and `setup:static-content:deploy`.

[2021-05-12 16:49] slitviachenko opened #320 "Hardcoded magento.com in the CN name in the ssl certificate"
### Preconditions
1. Magento Cloud Docker 1.2.2

### Steps to reproduce
1. Install any supported Magento with the default Magento Cloud Docker configuration.
2. Try to open https://magento2.docker/ in a browser or via `curl` cli.

### Expected result
1. https://magento2.docker/ opens (as it was in the 1.2.1 version).

### Actual result
1. The "NET::ERR_CERT_INVALID" error appears.

It looks like i

[2021-05-12 16:51] shiftedreality commented on #320
@oshmyheliuk could you review this?

[2021-05-12 16:54] oshmyheliuk commented on #320
I'll test and create a task to fix it if needed.

[2021-05-12 16:59] slitviachenko commented on #320
@oshmyheliuk , thank you. Need to use a host name specified in the `--host` option, and the default value for the CN should be `magento2.docker` I believe, as it is the default in other places too.

[2021-05-12 17:08] oshmyheliuk commented on #320
@slitviachenko Are you sure this is an issue with hardcoded `CN=magento.com`?
The previous certificate which was stored in the `certs/` directory had hardcoded `CN` as well.

[2021-05-12 17:18] slitviachenko commented on #320
@oshmyheliuk , when I switch to Magento Cloud Docker 1.2.1, everything works fine, the issue is on 1.2.2 only, I receive the "NET::ERR_CERT_INVALID" error, and my google chrome indicates the name mismatch.

[2021-05-12 17:23] slitviachenko commented on #320
@oshmyheliuk , "magento2.docker" is used as a default everywhere except the certificate.

[2021-05-12 17:28] slitviachenko commented on #320
@oshmyheliuk , I verified that deleted certificate had "magento2.docker" in the CN that is why I don't have an issue on 1.2.1.

[2021-05-12 17:33] oshmyheliuk commented on #320
@slitviachenko Thank you for the update

[2021-05-12 19:33] oshmyheliuk commented on #320
@slitviachenko I can confirm that problem exists, but changing `CN=magento.com` to `CN=magento2.docker` didn't resolve it. I've created a task to investigate and fix it.

[2021-05-14 14:50] slitviachenko commented on #320
@oshmyheliuk , on **1.2.1** I get the "NET::ERR_CERT_AUTHORITY_INVALID" error because the certificate is self-signed, but that is expected. The name mismatching error is more critical.

[2021-05-19 20:13] AdamAnSubtractM commented on #302
Same here. Will try @mzink instructions.

[2021-05-20 20:15] AdamAnSubtractM commented on #302
Hi @qaniel ,

Docker novice here. Are you creating those directories in the docker image or in your cloud repo on your host machine? Follow up question, what command are you running after creating those directories?

Thanks in advance!

[2021-05-20 20:50] slitviachenko commented on #315
@shiftedreality , below are some details:

- Extensions fail on the

[code]
command. The previous
[code]
command finishes successfully.
- Extensions are installed successfully on Magento EE.
- Magento proxies help to resolve this issue. @maurisource created a great article how he solved this issue https://maurisource.com/fixed-magento-marketplace-installation-varnish-test-results-failure/

[2021-05-20 21:00] shiftedreality commented on #315
Thank you for reporting this,

Internal issue: MCLOUD-7964

[2021-05-23 09:51] tomaszmichalak opened #321 "Magento 2.4.2 Community Edition: creating admin user issue"
I get an error when the administrator user is created with the CLI:
[code]

### Preconditions

1.  Using docker-compose with `1.2.2` images with Magento `2.4.2` (community edition).
2. My configuration works correctly with Magento `2.4.1`, no errors.
3. I configured Composer `v2` (`COMPOSER_VERSION=2.0.12`).
4. When I run `docker-compose run cli magento-installer admin:user:create ...` I get the e

[2021-05-23 09:53] tomaszmichalak commented on #321
I found some advice here: https://community.magento.com/t5/Installing-Magento-2-x/Magento-2-4-2-Update-Admin-Error/m-p/468366#M9452 but it does not work as I have `libsodium` installed and enabled.

[2021-05-23 10:01] tomaszmichalak commented on #321
I also checked `magento / magento-cloud-docker-php: 7.4-fpm-1.2.3`, but the `7.4-cli-1.2.3` tag is missing . This is the official release? Why is it not listed here: https://github.com/magento/magento-cloud-docker/releases?

Could you please provide the file `docker-compose.yml` used during the verification of` 2.4.2`. It would be very useful to rule out some design-specific changes.

[2021-05-24 14:01] shiftedreality commented on #321
@oshmyheliuk could you please check the tag's integrity?

[2021-05-24 14:09] oshmyheliuk commented on #321
Hi @tomaszmichalak, thanks for noticing a missing tag. There was an issue with the build on the docker hub.

Also, `magento-cloud-docker` 1.2.3 is not released yet, please use the latest released version 1.2.2

[2021-05-25 20:44] shiftedreality commented on #318
We probably can add a new command/flag to https://github.com/magento/magento-cloud-docker/blob/develop/dist/bin/magento-docker and switch this after successful deployment.

Volunteer needed

[2021-05-25 20:44] #283 closed, assigned to shiftedreality

[2021-05-25 20:45] #292 closed, assigned to chiranjeevi-cj

[2021-05-25 20:45] shiftedreality commented on #292
Merged

[2021-05-25 21:04] tomaszmichalak commented on #321
@oshmyheliuk Are you using the [Semantic Versioning](https://semver.org/) strategy? Do you create a new image tag every time you release some bug-fixes? I'm not sure, but I saw that 1.2.2 image changed some time ago - it is important that the tags once deployed do not change.

[2021-05-25 21:19] oshmyheliuk commented on #321
@tomaszmichalak Images shouldn't be changed after the official release.
After the release `magento-cloud-docker:1.2.2` we have removed all `*-1.2.2` builds, so there shouldn't be updates for such images, if you see some changes please let us know, we will investigate this issue.
I just checked the docker hub and didn't find any configured builds for `*-1.2.2` images.

[2021-05-25 21:25] tomaszmichalak commented on #321
@oshmyheliuk Could you please provide the `docker-compose.yml` file which you are using to validate Magento` 2.4.2` setup?

[2021-05-26 13:31] oshmyheliuk commented on #321
@tomaszmichalak we are using a file generated based on `magento-cloud` template. You can run the next commands and it will create a `docker-compose.yml` file for Magento 2.4.2
[code]

[2021-05-28 07:30] tomaszmichalak commented on #321
@oshmyheliuk Is it possible to generate the `docker-compose.yml` file without an active Magento Commerce Cloud user license ?

When I try to use my open-source auth data, I get an error:

[code]

[2021-05-28 09:59] tomaszmichalak commented on #321
@oshmyheliuk When I create `db`/`elastic search` with docker using my `docker-compose.yml` and then run the `bin/magento setup:install` locally from my local filesystem (`PHP 7.4.19`), I can install Magento `2.4.2` without any problems:
[code]
I think that there is some issue in the `magento/magento-cloud-docker-php:7.4-cli-1.2.2` image. Could you please verify the installation process? Maybe the

[2021-05-28 15:26] oshmyheliuk commented on #321
@tomaszmichalak so sorry, I totally forgot that `magento-cloud` requires a license.
I just tested the installation with the same PHP images as you have and didn't get any errors.
[code]

Please check that `sodium` extension is set in `PHP_EXTENSIONS` variable:
[code]

My `docker-compose.yaml` generated for production mode from 2.4.2 template :
[code]

[2021-05-30 21:33] tomaszmichalak commented on #321
This is exactly what I was looking for. Thank you @oshmyheliuk for your help, I really appreciate it.

Perhaps, in addition to Docker images, it would be worthwhile if you also provided a sample file `docker-compose.yml` for the recently released version of Magento - it would help in analyzing changes in the images themselves.

[2021-05-30 21:33] #321 closed, assigned to nobody

[2021-06-01 20:15] it-getprice-pl opened #323 "CORS error when integrating with REST API"
### Preconditions

1. Magento `2.4.2`
2. NGINX image: `magento/magento-cloud-docker-nginx:1.19-1.2.2`

### Steps to reproduce

1. Setup a sample React App.
2. Use Magento REST API ([integration/admin/token](https://magento.redoc.ly/2.4.2-admin/tag/integrationadmintoken)) for authentication.
3. When calling na API, I get the CORS error.

### Expected result

For the NGINX image I am able to define

[2021-06-01 20:15] #323 closed, assigned to nobody

[2021-06-01 20:16] tomaszmichalak opened #324 "CORS error when integrating with REST API"
### Preconditions

1. Magento `2.4.2`
2. NGINX image: `magento/magento-cloud-docker-nginx:1.19-1.2.2`

### Steps to reproduce

1. Setup a sample React App.
2. Use Magento REST API ([integration/admin/token](https://magento.redoc.ly/2.4.2-admin/tag/integrationadmintoken)) for authentication.
3. When calling na API, I get the CORS error.

### Expected result

For the NGINX image I am able to define

[2021-06-01 20:27] tomaszmichalak opened #325 "Add docker-compose.yml to the release assets"
### Preconditions

Without Commerce Cloud license, Magento Community Edition users are not able to easily configure their local instances with Docker.  The `docker-compose.yml` file can be generated using `ece-docker` which is not available for the open-source community.

Proposed solution
1. Images are built and published to https://hub.docker.com/u/magento
2. `docker-compose.yml` is added as an

[2021-06-02 16:41] #303 closed, assigned to nobody

[2021-06-07 22:58] oshmyheliuk commented on #320
@slitviachenko I tried to solve this issue but didn't find a way how to generate a certificate that will be trusted in the Chrome browser.

`The name mismatching error is more critical.` -  this is not a reason why the certificate is untrusted, changing CN to `magento2.docker`  doesn't solve a problem.

There are several solutions:
1) If you are using Chrome browser and there is no button to ignor

[2021-06-07 22:58] #320 closed, assigned to oshmyheliuk

[2021-06-09 23:37] slitviachenko commented on #320
@oshmyheliuk , Could you please fix [the CN name](https://github.com/magento/magento-cloud-docker/blob/develop/images/nginx/1.19/Dockerfile#L26)? It seems the only difference between the previous certificate and the current one is that CN name (and the expiration date, but I don't believe that the correct date could be the reason). With 1.2.2 MFTF tests stopped working due to the certificate issue

[2021-06-10 10:23] tuan-dinh0510 commented on #307
I also have the same issue, quite regularly
`version: '2.1'
services:
    mysql_magento:
        image: 'mariadb:10.2'
        environment:
            - MYSQL_ROOT_PASSWORD=magento2
            - MYSQL_DATABASE=magento2
            - MYSQL_USER=magento2
            - MYSQL_PASSWORD=magento2
        volumes:
            - './.docker/mysql/:/var/lib/mysql'
        healthcheck:
            test: 'my

[2021-06-10 10:29] tuan-dinh0510 commented on #307
I have the same issue also, 504 quite often

[code]

[2021-06-10 10:47] asim-blueprintprep opened #326 "No ARM images available for development on Macbook Pro M1 CPU"
### Preconditions
1.  Macbook Pro M1 cpu
2.  php 7.3
3. redis 5
4. elasticsearch 7.5 (attempted)
5. varnish (attempted)

### Steps to reproduce
1.  ./vendor/bin/ece-docker build:compose
2.  docker-compose up -d
3.  multiple issues arise

### Expected result
1. docker containers should be created, and all start with no errors

### Actual result
1. elasticsearch issue
   1. `Error: could not find li

[2021-06-10 13:13] shiftedreality commented on #326
@asim-blueprintprep thank you for this request.

We've created an internal issue https://jira.corp.magento.com/browse/MCLOUD-7989 to get it fixed.
However, any help is appreciated!

[2021-06-10 13:16] shiftedreality commented on #325
Hello @tomaszmichalak

The standalone `docker-compose.yaml` is not sufficient without the `.docker` directory that is created during `compsoer update`. Do you think it makes sense to attach it as is?

[2021-06-10 13:18] shiftedreality commented on #324
Thank you for submitting this issue,

Internal ticket https://jira.corp.magento.com/browse/MCLOUD-7990 was created for processing

[2021-06-10 13:21] shiftedreality commented on #318
Internal issue: https://jira.corp.magento.com/browse/MCLOUD-7991

[2021-06-10 13:30] shiftedreality commented on #307
Thank you for reporting his. We have created an internal ticket MCLOUD-7992 to investigate

[2021-06-11 07:41] asim-blueprintprep commented on #326
@shiftedreality thanks for repsonding so swiftly, do you know of a way of disabling varnish through docker compose, and configuring it so the site loads without varnish? As this is currently blocking development work

[2021-06-15 13:52] drpayyne commented on #326
Hi @shiftedreality, is there any ticket to track the dependencies of `cloud-docker` and their compatibility with the Apple M1 chip? Just so that it's visible on what's pending for us Magento developers to start using `cloud-docker` on our Apple M1 computers.

[2021-06-15 13:54] shiftedreality commented on #326
@asim-blueprintprep please use `--no-varnish` option

[2021-06-15 13:55] shiftedreality commented on #326
@drpayyne I'm aware only about this one. Is there anything else we missing?

[2021-06-15 13:56] drpayyne commented on #326
Not that I know of, @shiftedreality. Thanks for the update. Let me ask the community to see if anyone caught anything else.

[2021-06-16 14:53] asim-blueprintprep commented on #326
Hi @shiftedreality
That created great, and allowed me to get docker-compose up -d booting all containers, I then run ```bash ./mutagen.sh```
And then try to run ```docker-compose run --rm deploy cloud-deploy```

However, it errors: ```[2021-06-16 14:48:55] ERROR: [132] Can't get version of elasticsearch: cURL error 6: Could not resolve host: elasticsearch (see https://curl.haxx.se/libcurl/c/libcur

[2021-06-17 08:56] asim-blueprintprep commented on #326
I believe the issue above is resolved by having elasticsearch in your hosts file, after adding that and rebuilding that works. However, because docker desktop is having to emulate so many amd64 packages, it runs out of memory

https://github.com/docker/for-mac/issues/5204

When running ```docker-compose run --rm deploy cloud-deploy```

It reaches:
```[2021-06-17 08:49:41] INFO: Running setup upgra

[2021-06-29 11:46] venkateshjiva opened #327 "unable to provide the crypt key when using the existing database"
Hi Support,

I am creating the local instance with docker setup and used the database entry point to use the existing database for the application, when running the deploy command throwing the error like Missing Crypt key for upgrading magento, can you suggest how we can provide crypt key on docker configuration?

[2021-07-27 15:28] drpayyne commented on #326
Hi @shiftedreality! Is there any update available for public view on this? :)

[2021-08-06 16:48] qaniel commented on #327
Hello fellow Coder!
Sadly it's not specified during the local docker installations but you need to have an existing mageroot/app/etc/env.php during the installation process. There you should add a crypt key.

[code]

here is a command to generate the env.php with crypt key, don't forget to use a different crypt key on you public store

[2021-08-06 16:58] qaniel commented on #307
AFAIK this happens cuz docker + developer mode + local environment + 0 caches. So, there are only 2 workarounds for this
1. Update the Nginx timeout
2. Turn all the caches and only clear the ones that are related to your current work (I Recommend this)

With point 2 you will still get some 504 (during page builder related requests most of the time) occasionally but nothing that a fast refresh cant

[2021-08-16 07:32] Morgy93 opened #329 "php ext-sodium missing for 7.4-cli which is required for Magento 2.4.3"
### Overview

The php extension ext-sodium is missing for `magento/magento-cloud-docker-php`: `7.4-cli-1.2.4` which is a requirement for Magento 2.4.3 to build.
Also reported here: https://github.com/magento/magento2/issues/33743

### Preconditions

Magento 2.4.3
magento/magento-cloud-docker-php: 7.4-cli-1.2.4 (latest)

### Steps to reproduce

1. Use docker image magento/magento-cloud-docker-php:7

[2021-08-16 16:43] oshmyheliuk commented on #329
@Morgy93 Hi,

Did you check that `sodium` extension is added to the list of extensions of your `docker-compose.yaml` file?
It should be something like that:
[code]

[2021-08-16 17:55] Morgy93 commented on #329
@oshmyheliuk Thanks for your reply!
Actually I'm using this for a [GitLab Runner](https://docs.gitlab.com/runner/) with `.gitlab-ci.yml`
While providing `PHP_EXTENSIONS` with `sodium` manually  works fine, I think it should be included by default, shouldn't it?
Since it is a default requirement by Magento 2.4.3 and all~

[2021-08-16 18:29] YPyltiai commented on #329
@Morgy93 images are used for multiple versions though and I am pretty sure in older versions it was conflicting with the other extension that was used instead. It makes sense to bundle it into PHP 7.4+ though, since these versions were not available at the time of transition to Sodium, so they won't have issues most likely.

[2021-08-16 19:20] dshevtsov commented on #329
I have stuck into the same issue when running locally

[code]

onto a fresh [2.4.3 template](https://github.com/magento/magento-cloud/tree/2.4.3).

[2021-08-16 22:53] andriyShevtsov commented on #329
I can't reproduce this issue with templates:

`  environment:
      - 'PHP_EXTENSIONS=bcmath bz2 calendar exif gd gettext intl mysqli pcntl pdo_mysql soap sockets sysvmsg sysvsem sysvshm opcache zip xsl sodium'`

[2021-08-16 22:57] andriyShevtsov commented on #329
By default we have it in `magento.app.yaml`
[code]
If this extension wasn't added such error  occurs.

[2021-08-19 17:15] dshevtsov opened #330 "'Your requirements could not be resolved to an installable set of packages.'"
### Preconditions

1. macOS 11.5
2. Docker version 20.10.7, build f0df350
3. Composer version 2.0.12
4. PHP 7.4.20

### Steps to reproduce

1. Clean / purge data on Docker
1. `git clone --branch 2.4.3 git@github.com:magento/magento-cloud.git magento-cloud-2.4.3`
1.  `cd magento-cloud-2.4.3`
1. `cp ~/.composer/auth.json . || exit`
1. `COMPOSER_MEMORY_LIMIT=-1 composer update`
1. `./vendor/bin/ece-d

[2021-08-19 18:00] BaDos commented on #330
Hi @dshevtsov,
Please, try the one of these:
 - use 1st composer on the local machine
- update composer inside docker before running the build phase

[2021-08-19 18:25] dshevtsov commented on #330
How do I do this?

[2021-08-19 18:59] andriyShevtsov commented on #330
Answered in slack

[2021-08-19 19:31] dshevtsov commented on #330
Changing local Composer version helped.

Though it is expected to use Composer 2 since version 2.4.2 per [official system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html).

[2021-08-25 16:54] it-getprice-pl commented on #325
@shiftedreality What is the purpose of the `.docker` directory? `docker-compose.yml` is extremely useful for development purposes as we  "refresh" the stack almost every day.

[2021-08-25 16:56] tomaszmichalak commented on #325
@shiftedreality What is the purpose of the .docker directory? docker-compose.yml is extremely useful for development purposes as we "refresh" the stack almost every day.

[2021-08-27 09:26] cam-nisimura commented on #329
init-docker.sh uses the docker image tagged "magento/magento-cloud-docker-php:${PHP_VERSION}-cli-${IMAGE_VERSION}". And php-cli-7.2, php-cli-7.3... do NOT include the sodium extension in the proper way.

[2021-08-27 19:58] keithbentrup opened #331 "current php images fail to build because remote script change"
### Steps to reproduce

1.  Try to build any php image that references https://deb.nodesource.com/setup_10.x. That includes the current dev branch and the latest tagged version (1.2.4).
2. Since the current setup_10.x fails to properly install npm, `npm install -g grunt-cli` will fail and the build will not complete.

### Expected result

1. Successfully built php images.

### Actual result

1. np

[2021-09-17 10:35] WingmanImd commented on #326
Hey @drpayyne I have a working docker-compose.yml file in case you still need it. You'll need to keep the Dockerfiles in the project(I don't plan on pushing them to docker hub) though

[2021-09-17 10:48] drpayyne commented on #326
Awesome @WingmanImd! Do you have this in your fork?

[2021-09-17 10:54] WingmanImd commented on #326
@drpayyne no, I had to resort to manually editing the docker-compose.yml file after it's created then use modified versions of Dockerfiles for all images. Gonna fork it again and edit the Readme with the instructions later today

[2021-09-21 14:42] YPyltiai commented on #331
@BaDos , please see this issue.

[2021-09-27 08:27] shikhamis11 opened #332 "Php fpm and Elastic search containers not compatible with Mac M1 chip"
### Preconditions

1.  Installing cloud docker Macbook Pro with M1 chip

### Steps to reproduce

1.  I am following Magento dev docs for installing cloud docker
https://devdocs.magento.com/cloud/docker/docker-development.html

at step `docker-compose run --rm deploy cloud-deploy`

I am getting an error

`storage-driver=file -n --ansi --no-interaction" failed. mmap() failed: [12] Cannot allocate me

[2021-09-27 09:17] shikhamis11 commented on #332
Closing it seems to duplicate. I will track progress here #326

[2021-09-27 09:17] #332 closed, assigned to nobody

[2021-09-29 14:37] andriyShevtsov commented on #331
Created task ACMP-1539

[2021-10-12 23:18] joeshelton-wagento commented on #329
The `init-docker.sh` script is my concern. Right now it can't install recent versions of Magento. Is there an easy way to enable all PHP extensions in the container? Something like `PHP_EXTENSIONS=all`? I worked around the issue using the command below, but it's very wordy.

[code]

[2021-10-13 03:11] andriyShevtsov commented on #329
@BaDos may you please take a look?

[2021-10-13 18:05] joeshelton-wagento commented on #329
I see in the 1.2.2 release notes...

https://devdocs.magento.com/cloud/release-notes/mcd-release-notes.html#v122

So, was this a regression? Or, was sodium removed on purpose?

I think ideally, if `PHP_EXTENSIONS` is not defined, the base Magento PHP extension requirements should be enabled. Basically...

`PHP_EXTENSIONS="bcmath bz2 calendar exif gd gettext intl mysqli pcntl pdo_mysql soap sockets

[2021-10-27 14:27] BaDos commented on #331
@keithbentrup it's fixed in 1.3.0

[2021-10-28 12:43] Axel29 commented on #329
Same problem here, I'm forced to use a `--ignore-platform-reqs` on my `composer install` command to get a fresh install of Magento withou having to use a `docker-compose.yml` file.

The image is meant to be used as a standalone image, thus it should have all the requirements of Magento such as sodium.

[2021-11-09 17:06] Axel29 commented on #45
Hi,

Why is this issue closed?
This is really annoying not being able to have a valid certificate, did anyone find a good solution for that?

Thanks.

[2021-11-25 20:10] amansilla commented on #329
Having the same issue today! Here is my workaround for being able to execute composer install.

[code]

@Axel29 this way you can avoid using the `--ignore-platform-reqs` flag which should be always avoided, otherwise wrong incompatible may be installed.

[2021-11-29 00:46] YPyltiai commented on #331
@keithbentrup , could you please confirm the issue is resolved for you?

[2021-11-29 00:48] YPyltiai commented on #330
@BaDos , any fixes required here? I think @dshevtsov is right saying that Composer 2 is recommended, so rolling back to v1.x is not an obvious solution.

[2021-11-29 00:51] YPyltiai commented on #329
@amansilla , you should try modifying command to just use recent containers instead of 1.2.1. If that still doesn't work - we will look at it additionally.

CC: @BaDos

[2021-11-29 00:53] Axel29 commented on #329
@YPyltiai I tried it on the php7.4-cli-1.3.0 and it didn't work.

[2021-11-29 02:14] BaDos commented on #330
@dshevtsov @YPyltiai
By default MCD use Composer 1
After generating docker-compose.yaml file you can add ENV variable with specific composer version:

For example:
[code]

[2021-11-29 02:16] #330 closed, assigned to nobody

[2021-11-29 09:09] amansilla commented on #329
Sorry for that, in fact I've tested both `magento/magento-cloud-docker-php:7.4-cli-1.2.1` and `magento/magento-cloud-docker-php:7.4-cli-1.3.0` and in both cases the extension is missing.

[2021-11-29 16:02] dshevtsov commented on #330
I fixed the issue with a workaround. The only concern that remains is that as a user, I expect that an environment from the template corresponds to Commerce's official system requirements.

[2021-12-02 23:10] YPyltiai commented on #329
@BaDos , could you please take a look? I would expect https://github.com/magento/magento-cloud-docker/blob/develop/images/php/7.4-fpm/Dockerfile#L124-L135 had to install it by default but not clear why it doesn't happen.

[2021-12-03 15:00] antoinette-mkwapatira-at-hanes commented on #326
@WingmanImd Can you share a little more info about your approach to getting set up with the M1 chip?

[2021-12-05 13:30] VZeroCool opened #336 "manifest for elasticsearch:7.5-1.3.0 not found"
### Preconditions

1. Ubuntu 20.04
2. Magento Enterprise

### Steps to reproduce

1. Followed https://devdocs.magento.com/cloud/docker/docker-installation.html
2. https://devdocs.magento.com/cloud/docker/docker-mode-developer.html
3. Getting error while performing docker-compose up -d

### Expected result

1. It should install ES version as specified in docker-compose

### Actual result

1.ERROR:

[2021-12-07 15:56] bploetz commented on #336
I'm seeing this error too on my Apple M1 MacBook Pro (if that is relevant).

What's odd is the `.magento.docker.yml` template file only has this:

[code]

So I'm not sure where that `-1.3.0` extension is coming from.

[2021-12-07 22:40] joeshelton-wagento opened #337 "Can't purge static assets in Varnish from Magento"
### Preconditions
Default install in developer mode with Varnish enabled and configured properly. Browser cache disabled

### Steps to reproduce
1. Load a page in the browser and ensure Varnish cache has cached static assets like .css, .js
2. Run `bin/magento cache:clean full_page`
3. Load the same page as step 1 and observe the cache behavior on static assets

### Expected result
Static assets wo

[2021-12-20 16:50] BaDos commented on #329
Hi!
All PHP images contain a lot of extensions, including sodium.

But these **extensions are disabled** by default, and we enable them only if `PHP_EXTENSIONS` contains some of them

For example, the template has `sodium` extension: https://github.com/magento/magento-cloud/blob/2.4.3/.magento.app.yaml#L18
When you run `./vendor/bin/ece-docker build:compose` this command reads `.magento.app.yaml`

[2021-12-20 16:52] BaDos commented on #329
We can add a new option to `init-docker.sh` such as `--ext` to provide a list of needed extensions.

[2021-12-20 16:56] dshevtsov commented on #329
Only optional extensions are expected to be configurable.
Required extensions are expected to be up and working by default in a corresponding template.

[2021-12-20 16:56] Axel29 commented on #329
Hello @BaDos ,

It doesn't really make sense to disable sodium by default, as the image is meant to be used for many commands, not only as a docker-compose service.

For example, in the official documentation, at the [Run Composer with Docker](https://devdocs.magento.com/cloud/docker/docker-config.html#run-composer-with-docker), it is suggested to use the following command to run composer:

[code]

[2021-12-20 17:09] BaDos commented on #329
@dshevtsov

`init-docker.sh` does not read files form templates

@Alex29
I have checked our images/code
We are trying to support all Magento versions. Previous time there was a conflict when `sodium` was enabled by default.
MCD 1.3.1 will have enabled `sodium` by default.

Thank you for your contribution and for raising this issue!

[2021-12-20 19:09] BaDos commented on #329
This issue will be fixed as part of internal task MCLOUD-8364 and will be added in the next release of MCD 1.3.1

[2021-12-20 19:09] #329 closed, assigned to BaDos

[2022-01-10 08:53] bojanpc commented on #336
You need to build image first

Solution to fix your issue
` bin/magento-docker ece-redeploy `
or
` sudo bin/magento-docker ece-redeploy `

docker compose naming can be nasty

[2022-01-10 10:27] f2lokesh commented on #336
@bojanpc

When I run above mentioned command, system giving me this error:
sudo: bin/magento-docker: command not found

Can you please let me know why? I am a newbie on Magento cloud.

Thanks in advance.

[2022-01-10 10:47] bojanpc commented on #336
@f2lokesh Please let me save you some newbie not at all important blind and white commands time in terminal
dont run root on your focal and

sudo bin/magento-docker ece-redeploy

[2022-01-12 03:27] XiaoYiyichonga opened #338 "Cannot create a new user using command with magento-cloud-docker"
- Summary of the issue
     -      After successfully set up the magento-cloud-docker at my own Mac os, I cannot create a new user using the provide command from Adobe website.
     - Information on your environment:
     -      Mac os,
     -      Installed Magento-cloud-docker
     - Steps to reproduce,
     -      1. magento-cloud-docker was successfully setup and we can access is with "http://

[2022-01-20 10:10] andreidragutu opened #339 "mailhog service not generated in docker-compose.yml"
### Preconditions
1. Docker Desktop 4.3.2, Engine 20.10.11, Compose 1.29.2 on macOS Monterey Apple Silicon (M1) - but not limited to this environment
2. Magento Commerce 2.4.3-p1, php 7.4, MariaDB 10.4

### Steps to reproduce
1. **Run**: `$ ./vendor/bin/ece-docker build:compose --mode="developer" --sync-engine="mutagen" --with-cron --mailhog-smtp-port=1025 --mailhog-http-port=8025` **OR simply run

[2022-01-21 10:20] AlexanderKopyl commented on #326
Hello guys any one resolved this issue?

[2022-01-21 15:47] BaDos commented on #326
Hi!
We're going to continue work on this issue soon.

[2022-01-25 15:22] andreidragutu opened #340 "build service networks isolated magento-build network"
### Preconditions
1. Docker Desktop 4.3.2, Engine 20.10.11, Compose 1.29.2 on macOS Monterey Apple Silicon (M1) - but not limited to this environment
2. Magento Commerce 2.4.3-p1, php 7.4, MariaDB 10.4

### Steps to reproduce
1.  Run docker-compose run --rm build cloud-build
2. After [2022-01-25 13:35:10] NOTICE: Validating configuration
3. [2022-01-25 13:35:10] NOTICE: End of validation
4. [2022-

[2022-02-15 08:55] dunagan5887 commented on #329
@BaDos  When will MCD 1.3.1 be available?

[2022-02-15 14:44] BaDos commented on #329
@dunagan5887 hello!

We going to release MCD 1.3.1 in ~ a few weeks

[2022-02-15 20:50] dunagan5887 commented on #329
@BaDos  I'm currently testing the Docker PHP CLI 7.4-cli-1.3.1 image (linked here: https://hub.docker.com/layers/magento/magento-cloud-docker-php/7.4-cli-1.3.1/images/sha256-0c91371f027bb0fa5515b6e1cf32346d5c0fb39523f0e5a918e153dda13e36b3?context=explore) and still seeing sodium not being installed on CLI commands. Is this the version which was supposed to address this issue?

[2022-03-09 21:45] sebadamus commented on #336
Same problem here, cant understand what @bjanpc wrote, please can you explain more?
I do not run sudo with docker nor composer commands.

If I ran bin/magento-docker ece-redeploy as you suggest I also get the same "ERROR: manifest for elasticsearch:7.5-1.3.0 not found: manifest unknown: manifest unknown"

[2022-03-16 23:27] f4z4on opened #341 "PHP CLI image instruction adding crontab entry cannot succeed"
### Preconditions

1. Docker 20.10.12
2. Magento Cloud Docker 1.3.2 (source code)

### Steps to reproduce

1. Start in directory with [source code of Magento Cloud Docker 1.3.2](https://github.com/magento/magento-cloud-docker/releases/tag/1.3.2).
2. `cd images/php/7.4-cli`
3. `docker build .`

### Expected result

1. The relevant step succeeds:

       Step 44/48 : RUN if [ ! -z "${CRONTAB}" ]; th

[2022-03-16 23:29] f4z4on commented on #341
I apologize my report is not from user perspective, but I am not familiar with cron features of Magento Cloud Docker. I cannot say if something is missing and broken, or if this instruction is redundant. I simply noticed the issue when doing some experiments with Cloud Docker PHP images outside of Magento Cloud Suite.

[2022-03-21 13:36] ghost opened #342 "Fix xdebug in MCD"
### Preconditions
1. Magento 2.4.3
1. PHPStorm
1. Magento cloud docker installed
1. Magento Cloud docker image versions 1.3.0 or 1.3.1

### Steps to reproduce
1. Change all docker image versions in docker-compose.yml to 1.3.0 or 1.3.1
1. docker-compose down && docker-compose up -d
3.[ Follow these Adobe Commerce Cloud instructions to setup xdebug on PHP storm ](https://devdocs.magento.com/cloud/do

[2022-03-23 13:59] Axel29 opened #343 "Mailhog not catching emails in v1.3.0 / 1.3.1"
### Preconditions
1. Use Magento Cloud Docker images on versions 1.3.0 or 1.3.1

### Steps to reproduce
1. Send email either from the admin or frontend
2. Check your emails in Mailhog

### Expected result
1. Email is catched

### Actual result
1. Mailhog is empty

### Additional information

I don't know if it is related or not but I noticed this error using `docker-compose logs --follow` while se

[2022-04-01 15:00] BaDos commented on #340
Hi @andreidragutu
It is expected behavior that build phase uses the isolated network.
MCD emulates the real Magento Cloud. Build phase does not have access to other services such as DB, Redis, ES, etc
Need to check modules, because during `module:enable` command modules should not connect to any services.

[2022-04-09 08:58] chuongnh3atgmaildotcom commented on #336
There's [magento/magento-cloud-docker-elasticsearch:7.5-1.3.2](https://hub.docker.com/layers/magento-cloud-docker-elasticsearch/magento/magento-cloud-docker-elasticsearch/7.5-1.3.2/images/sha256-3a76228568a739db4fc3746cda4dfdcedac899fa870ea644534e687e53739cbf?context=explore) docker img.

Replace services.elasticsearch.image in your `.magento.docker.yml` file, from `elasticsearch` to `magento/mage

[2022-04-11 19:11] BaDos commented on #342
Created the internal ticket MCLOUD-8642

[2022-04-11 19:14] BaDos commented on #343
Created the internal ticket MCLOUD-8643

[2022-04-12 14:28] MagicLegend commented on #342
I fiddled around with the xdebug config inside the xdebug container; and it seems like it's not adding `host.docker.internal` as the `client_host`; and instead falls back to `localhost:9001`. Manually adding the config in the container fixed the issue temporarily for me. Obviously after a container restart it'll be gone; so a permanent fix would be nice. But for now we can continue debugging by ex

[2022-04-13 21:03] BaDos commented on #342
I have created a PR to update the documentation.
There are only small changes regarding `client_host` and `client_port`

I have checked MCD 1.3.2 on MacOS and debugging works fine.

@AsrinDayananda288Group please try to use latest MCD 1.3.2 and generate the new `docker-compose.yaml`
All PHP images have xDebug 3 since MCD 1.3.1

[2022-04-13 21:08] BaDos commented on #342
@MagicLegend please check $XDEBUG_CONFIG inside your deploy container.
It should have this value `client_host=host.docker.internal`

Also, if you need to configure something you can do it in `docker-compose.yaml`, you do not need to change something inside a container.

[2022-04-14 06:58] MagicLegend commented on #342
@BaDos I can confirm it was set to that value. I can also confirm that xdebug was not using it, and instead tried to connect to `localhost:9001`. I'm also aware it can be set externally, but that seemed like a lot of effort for the day or two until this was fixed :)

I'll update my images to `1.3.2` and try again. Also my current `1.3.0` images also already have xDebug v3 (`3.0.4` to be exact).

[2022-04-14 07:39] MagicLegend commented on #342
Oh and @BaDos; is it intentional that the last two releases here did not have the `init-docker.sh` script as release artifact? Because it breaks the docs :)

[2022-04-14 09:25] MagicLegend commented on #342
And before I flush my logs again; this is what xdebug was reporting before in the `1.3.0` container:

[code]

I can confirm that in the `1.3.2` container it now works correctly:

[code]

[2022-04-14 15:08] BaDos commented on #342
@MagicLegend thank you for the information regarding `init-docker.sh`, I will check it.

@AsrinDayananda288Group @MagicLegend I'm going to close this issue if 1.3.2 works correctly now. Please confirm.

[2022-04-14 23:28] Axel29 opened #344 "Incompatibility with Magento 2.4.4 (PHP extensions missing)"
### Preconditions

1. Magento 2.4.2 (not testing on other 2.4.x versions)
2. magento-cloud-docker images with `-1.3.2` tag, including `magento/magento-cloud-docker-php:8.1-fpm-1.3.2` and `magento/magento-cloud-docker-php:8.1-cli-1.3.2`

### Steps to reproduce

Try to upgrade to Magento 2.4.4 by following the steps described in the [Perform an upgrade](https://experienceleague.adobe.com/docs/commer

[2022-04-14 23:59] Axel29 commented on #344
I'm closing this issue since I found the solution.

For those who are in the same situation, this was due to my `docker-compose.yml` file that was outdated.
I recreated it with the following command `./vendor/bin/ece-docker 'build:compose' --with-entrypoint --with-xdebug --set-docker-host --no-os --php='8.1' --expose-db-port=3307 --mode=developer --sync-engine=native --es='7.11' --rmq='3.9'` and i

[2022-04-14 23:59] #344 closed, assigned to nobody

[2022-04-18 19:04] BaDos commented on #342
The issue was closed because it was fixed in the latest MCD release.

[2022-04-18 19:04] #342 closed, assigned to BaDos

[2022-04-19 19:21] BaDos commented on #343
@Axel29 Hi,
Could you clarify which mode you are using "production" or "developer"?

[2022-04-19 19:22] Axel29 commented on #343
Hi @BaDos , developer mode

[2022-04-19 20:14] BaDos commented on #343
@Axel29 Thank you!
It will be fixed in the next release

Now you can use the workaround.
Just edit the `docker-compose.yaml` file and add the env variable `SENDMAIL_PATH` for `generic` service manually, for example:
[code]

[2022-04-19 20:25] Axel29 commented on #343
Thanks for the workaround!

[2022-04-22 14:09] MagicLegend opened #345 "Add built-in support for n98-Magerun2 in the deploy container"
**Is your feature request related to a problem? Please describe.**
Magerun2 solves some annoyances devs have to deal with when developing with Magento. Directly running cronjobs for example.

**Describe the solution you'd like**
Would be great if the `deploy` container (so the [`cli`](https://github.com/magento/magento-cloud-docker/tree/develop/images/php) php images) now used for magento commands

[2022-04-24 16:26] BaDos commented on #343
Fixed https://github.com/magento/magento-cloud-docker/commit/4484fc98500b87bda49eeb7e5643006dbe617e50
This fix will be in the next 1.3.3 release

[2022-04-24 16:26] #343 closed, assigned to BaDos

[2022-04-24 16:27] BaDos commented on #340
It is not an MCD bag.

[2022-04-24 16:27] #340 closed, assigned to nobody

[2022-04-28 08:00] self-diagnostics commented on #326
Is there any news on this topic?

[2022-04-29 14:10] Axel29 commented on #343
Hi @BaDos , it doesn't seem to work with Magento 2.4.4.

I still get the following Fatal Error in my `system.log` file:

Here's my `docker-compose.yml` file:

[code]

[2022-05-03 07:26] MagicLegend opened #347 "Cron container runs out of memory"
### Preconditions

1. Use `--with-cron` to generate configs
2. I'm gonna assume a default Magento won't have this issue, but our installation has about 30 packages in the `composer.json`, so not a big store imo.

### Steps to reproduce

1. Start the containers
2. Start the cron (make sure it's enabled in `env.php` - otherwise you'll be searching like me why it's not working since it's not mentione

[2022-05-07 01:26] e2r2fx commented on #45
[This](https://mindsers.blog/post/https-using-nginx-certbot-docker/) blog helped me a lot

[2022-05-10 23:56] OneCricketeer commented on #341
The variable isn't the issue, it's that `[[` syntax is not valid for POSIX shell (which the Docker build `RUN` command uses)

[2022-05-20 06:57] purplecommerce opened #348 "Installation & Varnish Test Failed"
### - Summary of the issue
Installation and varnish test failed while module on Marketplace.

### - Information on your environment,
This environment is failing:

"php_version":"7.4","magento_platform":"M2","magento_edition":"ce","magento_version":"2.3.7-p3","tool":"varnish","vendor":"purplecommerce","extension":"giftcard","version":"1.0.2","platform":"m2","magento_cloud_docker":"1.3.2","status":"

[2022-05-20 15:52] duckchip opened #349 "Missing sodium library on magento/magento-cloud-docker-php:7.4-cli-1.3.2"
### Preconditions

1. use docker and install magento 2.4.2
### Steps to reproduce

1. use docker image magento/magento-cloud-docker-php:7.4-cli-1.3.2
2. run `bin/magento setup:install --cleanup-database`

### Expected result

1. succesfull setup

### Actual result

[code]

[2022-06-02 01:12] zakisaad opened #350 "OpenSearch docker images broken"
### Preconditions

Magento Cloud Docker - local development with latest 1.3.2 package

### Steps to reproduce

1. Create .magento.docker.yml file
2. Specify elasticsearch service with:
    - image: "magento/magento-cloud-docker-opensearch"
    - version: "1.2"
3. Generate docker-compose.yml file
4. Attempt to bring up services

### Expected result

Local Magento environment with OpenSearch

### Ac

[2022-06-07 09:48] f4z4on commented on #341
This is the difference between my expected result and reported actual result. I should have mentioned it explicitly though. I have updated the description. Thank you for pointing it out @OneCricketeer.

However, `CRONTAB` is a built-time argument to image build (`ARG` instruction). It is set to an empty string by default. And as far as I can tell, nothing ever changes that default at built-time. I

[2022-06-17 13:11] MaximGns commented on #326
@shiftedreality any progress here?

[2022-06-23 18:07] BaDos commented on #350
Hi @zakisaad

Thank you for your contribution.

You're right, OS_PORT should be there:
[code]

And we will fix it in the next release.

But it is not a root cause. OS_HOST and OS_PORT are used when they are provided.
So, the default value is `opensearch:9200`

I tried to reproduce it, but it works fine.
I tried it on Mac OS and Linux.

Could you provide more information about your system (OS, Dock

[2022-07-01 18:32] Axel29 opened #351 "Cannot override PHP_EXTENSIONS environment variable"
### Preconditions
1. Generate a `docker-compose.yml` file with the following command:
`./vendor/bin/ece-docker 'build:compose' --with-entrypoint --with-xdebug --set-docker-host --no-os --db='10.4' --php='7.4' --redis='6.0' --expose-db-port=3307 --mode=developer --sync-engine=native --es='7.11' --rmq='3.9''`

### Steps to reproduce
1. Create a `docker-compose.override.yml` file
2. Override the `gen

[2022-07-05 10:53] mustdobetter commented on #326
@BaDos I head up C3, an Adobe Commerce partner agency in the UK, and this is something I and my team need. I'm keen to know if I can be of help to move this forward - we have lots of Docker experience.

[2022-07-05 11:40] mustdobetter commented on #326
I've just found a commit adding support: 50c77b0dc30ea33b86fe8d02224342d6c9484e93. Thank you @BaDos! 🙌

I've successfully built and run the PHP 7.4 FPM image on ARM (MacBook Pro Max), and all seems to be working well. I'll be building and testing some of the others shortly and will feed back on any issues etc.

[2022-07-12 13:59] SamCritch commented on #348
@purplecommerce does it fail on the same as our extension?

`"command": "docker-compose -f docker-compose.yml run --rm build cloud-build"`

Our extension fails on that command with the following:

[code]

[2022-07-15 07:10] purplecommerce commented on #348
@SamCritch yes you are right it fails on the same command with following details.

php .\/vendor\/bin\/ece-tools schema:generate || true\n\nIn Processor.php line 129:\n                                                                               \n  The command \"php .\/bin\/magento setup:di:compile --ansi --no-interaction\" fa  \n  iled. \u001b[32m%message%\u001b[39m 0\/9 [>---------------------

[2022-08-09 07:00] rangerz opened #352 "Support Docker Compose v2 CLI (docker-compose vs. docker compose)"
**Is your feature request related to a problem? Please describe.**
[Docker Compose V2](https://docs.docker.com/compose/#compose-v2-and-the-new-docker-compose-command) use the new `docker compose` command, and the old is `docker-compose`

**Describe the solution you'd like**
Should support V1 and V2

**Describe alternatives you've considered**
Try to detect and use the correct command
[code]

Relat

[2022-08-29 18:41] kanojiyadhaval commented on #350
Hello @BaDos

I am also facing same issue on Mac machine only. I following the same steps you were mention :

[code]

system information :

MacBook Pro
M1 chip
32 gb ram

![MicrosoftTeams-image](https://user-images.githubusercontent.com/18523845/187274636-27d3b374-724a-4e20-9e19-83bef975ecd1.png)

[2022-08-30 15:44] BaDos commented on #350
Hello @kanojiyadhaval

How much memory do you provide for Docker Desktop?

[2022-08-30 18:11] kanojiyadhaval commented on #350
Hi @BaDos

currently, it's 8gb.

[2022-08-31 15:21] BaDos commented on #338
@XiaoYiyichonga Hi,

Do you run this command inside the deploy container?
The build container does not have access to the DB.

[2022-08-31 15:26] BaDos commented on #352
The internal task MCLOUD-9242 was created

[2022-08-31 15:27] BaDos commented on #351
The internal task MCLOUD-9243 was created

[2022-08-31 15:30] BaDos commented on #349
The internal task MCLOUD-9244 was created

[2022-09-04 01:59] harendraprajapati opened #353 "Magento 2 Cloud Docker SSL certificate hostname change"
I am using setup my local Cloud Docker https://devdocs.magento.com/cloud/docker/docker-development.html

local hostname set - test.test

To configure the custom host and port, add the host and port options to the build:compose command.

./vendor/bin/ece-docker build:compose --host=test.test --port=80

Still SSL certificate showing default magento2.docker on browser. How to change SSL certificate n

[2022-09-06 16:48] birdman002 commented on #353
Something to try, seen it on slack havent tried it myself yet as we bought a cheap ssl cert

Install mkcert https://github.com/FiloSottile/mkcert
Run initial mkcert commands to get CA  installed
Generate your ssl for whatever you want it to be
After generating the key pair I had to add it to the tls container:
  tls:
    volumes:
      - './.docker/magento2.docker-key.pem:/etc/nginx/ssl/magento.ke

[2022-09-27 02:12] ferroapp commented on #326
Hi, I wonder if there is any progress on this, we are stuck in the same situation, version 2.4..4, any help will be much appreciated

[2022-09-27 17:51] BaDos commented on #326
Hi @ferroapp
Now we have prepared Dockerfiles to build images for arm64/M1, but we do not have images on docker hub.

[2022-09-28 16:45] ferroapp commented on #326
@BaDos that's nice, what version should we try?? 1.3.3?? thank you

[2022-09-28 19:35] BaDos commented on #326
@ferroapp yes. you can use 1.3.3

[2022-09-29 12:48] mamarx commented on #326
really happy about the ARM64 support added in 1.3.3. thank you guys!

we updated to 1.3.3 and built a new docker setup but still AMD64 images. what do we have to update to use the ARM64? thanks in advance!

[2022-09-29 15:56] BaDos commented on #326
@mamarx docker hub contains only amd64 images, you need to build you own arm64 images using M1 machine or any arm64

[2022-09-30 12:57] mamarx commented on #326
@BaDos thank you!

[2022-10-13 23:49] AngelBS commented on #350
I'm facing the same problem, working on:

Macbook air M1
8 gb ram
Magento Cloud CLI 1.40.0
Magento 2.4.5 clean install

all the docker environment worked on first install, i stopped the containers and when i try to star them again it says the OpenSearch container is unhealthy, it is running but i can't run magento commands due to unhealthy container

any progress on this?

[2022-10-16 00:28] BaDos commented on #350
Did you just use an image from Docker Hub? Or did you build own image using this sources https://github.com/magento/magento-cloud-docker/tree/develop/images/opensearch ?

Docker Hub does not contain any images for M1, please build you own images and try again to reproduce it.

[2022-10-24 22:41] #331 closed, assigned to nobody

[2022-10-31 15:30] damienwebdev opened #354 "MAGE_RUN_MODE should be `developer` by default."

[2022-10-31 21:21] BaDos commented on #354
Hi @damienwebdev

We cannot set `MAGE_RUN_MODE=developer` by default.
This will be a backwards incompatible change.
A lot of developers use MCD in their pipelines to run tests, etc in production mode.

[2022-10-31 21:21] #354 closed, assigned to nobody

[2022-11-01 07:54] yvikt commented on #307
In my case the issue was related to implicitly default 60 second value of proxy_read_timeout in /etc/nginx/conf.d/default.conf incide TLS container.
Solved this by adding `proxy_read_timeout 600;` in server listen 80 section under location / where the rest of proxy_pass instructions are set for varnish.

`docker exec -ti $(docker ps --format "{{.Names}}" | grep tls) bash`
`apt install vim`
`vim /e

[2022-11-04 07:37] ga3003 commented on #326
Is there any update on this issue? I am using the Mac Pro M2 and I am facing the same issue where I got a warning for ARM images and when the setup is complete, the URL is showing an error message of not reachable.

Please help, if someone has any hack to solve this.

[2022-11-04 15:32] BaDos commented on #326
Hi @ga3003
Please, see comments above.
Now you need to build arm64 images yourself.

[2022-11-16 10:15] ga3003 commented on #326
Thanks, @BaDos.